[2021-03-17 07:59] sirpy opened #1 "Setup project as ipfs"
- [x] bootstrap a vue app
- [x] github action to deploy to ipfs
- [x] ~~setup ipns (created using a privatekey from github secrets)~~
- [x] update dns on every deploy to ipfs with new ipfs hash

[2021-03-17 08:13] sirpy opened #2 "User should be able to connect his wallet"
Add a wallet connection component
- [x] see snapshot.page connection options (you can copy form their repo the code)
- [x] keep state if user is connected or not, some pages/data will be blocked if not connected
- [x] keep set of valid networks (currently fuse/ethereum - network ids 122 and 1) if user is connected to a different one then show error message (see snapshot and uniswap)
- [x] multiple

[2021-03-17 08:19] sirpy opened #3 "User should see basic layout"
- [x] sushiswap general layout - https://app.sushi.com/
- [x] menu items placeholders
- [x] wallet connect

[2021-03-17 08:29] sirpy opened #4 "User should be able to connect with his G$ wallet"
we have a few options
1. just give instructions how to export wallet to metamask (secure, complicated for user, easy to implement)
~implement torus login flow as we have in wallet (less secure, easy for user, medium to implement)~
~implement wallet connect api in G$ wallet. (secure, medium for user, hard to implement)~

- [ ] show link to instructions https://help.gooddollar.org/kb/user-guides/how

[2021-03-17 08:30] sirpy commented on #4
@Esfir-E @tomerGD need your thoughts on this

[2021-03-29 11:44] sirpy opened #5 "Choose UI kit"
- [x] show case 3 major ui kits (tailwind, etc)
- [x] explain drawbacks and advantages of each system

[2021-04-06 13:41] sirpy opened #6 "Upgrade process and script for token upgrade"
- [ ] analyze who can be impacted by upgrade (tomer)
- [ ] do we need to also upgrade on Fuse, do we need to also put the cap on fuse? (tomer)
- [ ] solution for uniswap LP
- [ ] design process (announcment, timings etc)
- [ ] script (pause token and launch new token)

[2021-04-06 13:42] sirpy commented on #6
@tomerGD see first to points.. assigned to you
if we do not upgrade token also on fuse this can solve half of the headache, as fuse is "theoretically" limited by mainnet token

[2021-04-07 08:04] sirpy opened #7 "GDX airdrop"
this is probably a short list of addresses that bought G$
so this can be implemented as a part of the initialization step of the new reserve which will run only once

[2021-04-07 10:23] sirpy commented on #7
@tomerGD we need a claim GDX in the UI, like uniswap did their COMP airdrop and like we need it for the reputation airdrop

[2021-04-08 09:38] sirpy opened #8 "GDX should be erc677"
- [ ] convert fuse erc677 to upgradable
- [ ] inherit from erc677 instead of erc20

[2021-04-08 09:39] sirpy commented on #8
@tomerGD erc677 is a standard used by bridges to make it simpler and more gas efficient
do want it for GDX?

[2021-04-08 11:55] sirpy opened #9 "User should be able to claim GDX"
- [ ] read airdrop data (should be published as json on our smart contracts package)
- [ ] if user is entitled to claim gdx enable and not yet claimed (GoodReserve isClaimedGDX(userAddress) the claim gdx button
- [ ] create the merkle tree + proof for user
- [ ] initiate tx to GoodReserve method claimGDX(userAddress, gdxAmount, proof)

[2021-04-11 15:13] thaddaeusus commented on #5
I have reviewed a lot of mature and maintained ui-kit's for Vue, picked the best and [made a sample app](https://github.com/vikseriq/uikits-demo) to let us try them at once and make final decision by the team vote.

[2021-04-12 07:15] tomerGD commented on #4
I have no idea what does this ticket means to be honest, please explain

@sirpy ?
@Esfir-E ?

[2021-04-12 11:19] sirpy commented on #4
@tomerGD a user need to use his G$ account in the protocol UI

[2021-04-12 11:38] thaddaeusus commented on #4
Ticket just about:

1. Discuss&decision how we connect user's wallet to protocol (see pt. 1-3), and
2. Implementation of picked decision.

As I understand after calls we decide to pick way 1 (export to metamask and connect mm) for now. @sirpy am I right?

[2021-04-14 08:28] sirpy opened #10 "G$ token should be upgradable"
- [ ] update fuse erc677+865 to use latest openzeppelin upgradable format
- [ ] update GoodDollar.sol to be upgradable and use above fuse contracts

[2021-04-19 07:21] sirpy commented on #3
@tomerGD add menu items you want

[2021-04-19 07:27] sirpy commented on #4
@tomerGD you first need to
1. put instructions link in issue
2. design where how and when to show instructions

[2021-04-19 07:36] sirpy opened #11 "User should be able to buy/sell G$ with ETH"
- [ ] show user slippage

[2021-04-19 07:58] sirpy opened #12 "Create domain and cloudflare credentials for ipfs deploy"
- [x] cloudflare
- [x] pinata

[2021-04-19 09:08] sirpy commented on #2
libraries that might be relevant @thaddaeusus
https://github.com/Web3Modal/web3modal
https://docs.blocknative.com/onboard

[2021-04-22 12:43] sirpy commented on #5
went with bulma

[2021-04-22 12:45] sirpy commented on #1
@thaddaeusus whats the status?
please checkmark the items as you do them

[2021-04-26 07:13] sirpy opened #13 "(Chore) use etherjs as for wallet provider instead of web3"
- [x] check if possible to use etherjs instead of web3
- [x] if possible replace

[2021-04-26 07:33] sirpy opened #14 "User should be able to claim G$ with his G$ wallet"
- [x] ask user to switch to fuse network (trigger metamask/provider request)
- [x] ask user to make sure he has switchd to his g$ wallet
- [x] verify the address is whitelisted (ie able to claim) otherwise show warning (use Identity contract)
- [x] use UBIScheme contract to claim

[2021-04-26 13:54] sirpy opened #15 "User should be able to use the bridge"

[2021-04-26 13:55] sirpy commented on #15
@tomerGD do we need the bridge on the UI also? or redirect to fuseswap for bridging?

[2021-04-27 08:50] #1 closed

[2021-05-04 14:20] sirpy opened #17 "(Chore) setup basic build flow"
- [x] setup basic testing. currently testing should pass if projects builds for production correctly otherwise fail
- [x] code checks: add linter
- [x] bundle size check, should put some warning if bundle size grows above limit or is significantly larger than previous build

[2021-05-09 07:50] sirpy commented on #2
- no error message when user uses a wrong network, and nothing happens when user presses connect and his metamask is currently on an unsupported network

[2021-05-09 07:51] sirpy commented on #14
- request that user switches to Fuse when he claims
- see addnetwork request
https://docs.metamask.io/guide/rpc-api.html#other-rpc-methods

[2021-05-10 23:06] thaddaeusus commented on #2
Works as expected:
- if **connected** wallet changed to wrong network: disables operations and shows "**Wrong network**" on top right;
- **not connecting** at all with wrong network.

Can add extra a) notification toast or b) popup message (like fuseswap) to clarify state for user.

[2021-05-11 06:21] sirpy commented on #15
@tomerGD ping

[2021-05-13 21:35] thaddaeusus commented on #17
Integrated [BundleMon](https://github.com/LironEr/bundlemon-github-actions) for size checks for now.

[2021-05-13 21:53] thaddaeusus opened #19 "UI Molecule: token amount input component with token balance & units selection"
Molecule:
- [ ] `AmountInput` component with generic label.
- [ ] Slot to provide balance via `BalanceOf`.
- [ ] Slot for suffix addition like `UnitPicker`.

Atom:
- [ ] `BalanceOf` renderer with approximation to fiat value.

Extra:
- [ ] Adaptivity for narrow container.

[2021-05-13 21:53] thaddaeusus opened #20 "UI Molecule: units selector (currency selector)"
Molecule:
- [ ] `UnitPicker` component in collapsed state: currently picked unit
- [ ] Modal window with list of units to display.
-

Extra:
- [ ] Search box and "pinned" top 2-3 tokens for better UX.
- [ ] Callback for unit line to allow performing unit rate/value estimation.

[2021-05-13 22:16] thaddaeusus opened #21 "UI Organism: Swap"
- [ ] `SwapWidget` with two `AmountInput`: From & To.
- [ ] Swap values between From & To.
- [ ] Keep user-provided input as base during swapping. I.e. 10 FUSE to X G$ after swap should be Y FUSE to 10 G$.
- [ ] Primary state button.
- [ ] Informational section with **stub** values of rate, slippage, fee, donation exit and gdx (all of this – final rate)

Molecules:
- [ ] Informational line with la

[2021-05-13 22:19] thaddaeusus opened #22 "UI Organism: user-friendly progress indicator"
Compose `ActionLog` component acting like Github Actions report:
![image.png](https://images.zenhubusercontent.com/604530e1151cf29e78f2e5e3/6a19216b-027f-4053-8dff-62711144cf59)

Use it with Swap and Claim operations as progress indication.

[2021-05-16 09:30] sirpy commented on #2
@thaddaeusus also connect the PR to the issue on zenhub

[2021-05-16 09:30] sirpy commented on #17
there's some error in the build process

[2021-05-18 08:15] #11 closed

[2021-05-18 08:28] sirpy commented on #22
@tomerGD need to explore this option

[2021-05-18 08:28] thaddaeusus opened #23 "Swap: integrate with v2 protocol"

[2021-05-20 16:20] thaddaeusus opened #24 "Evaluate switching codebase to PancakeSwap"
https://github.com/pancakeswap/pancake-frontend

It is React+TS+Web3 project.

what steps would be required to implement the Claim functionality
@sirpy see the following steps need to be evaluated
1. use fuse
2. use our contracts
3. add claim button
4. perform claim action
5. display G$ balance

[2021-05-21 12:21] thaddaeusus commented on #24
Evaluated, report in team hackmd.

[2021-05-25 10:06] #24 closed

[2021-06-01 13:51] #19 closed

[2021-06-01 13:51] #20 closed

[2021-06-01 13:51] #21 closed

[2021-06-01 13:51] #22 closed

[2021-10-04 09:19] MayurAdaptiveCode opened #25 "Fix Linting Issues and get app to start locally"

[2021-10-04 09:50] #2 closed

[2021-10-04 09:50] #3 closed

[2021-10-04 09:50] #4 closed

[2021-10-04 09:50] #5 closed

[2021-10-04 09:50] #9 closed

[2021-10-04 09:50] #12 closed

[2021-10-04 09:50] #13 closed

[2021-10-04 09:50] #14 closed

[2021-10-04 09:50] #15 closed

[2021-10-04 09:50] #17 closed

[2021-10-04 09:50] #23 closed

[2021-10-04 10:00] mukulshakya commented on #25
Hey Mayur,

I've managed to fix all of the linting issues but now the type errors have come. Few errors seem more to be logical errors and should be verified first before being fixed.

One of the error is with the following statement https://prnt.sc/1uqi3rn https://github.com/GoodDollar/GoodProtocolUI/blob/c2e89fc08b1b5ff18101a786bba40ba32fc110c1/src/hooks/Tokens.ts#L23

The actual reason for the

[2021-10-04 10:00] mukulshakya commented on #25
Please let me know if any more detail is required from my end

[2021-10-04 11:15] sirpy commented on #25
@mukulshakya yeah your suggestion looks ok
kovan is already defined.

[2021-10-06 08:28] MayurAdaptiveCode opened #27 "extract our components texts to a language file using the existing language packages"

[2021-10-06 08:29] MayurAdaptiveCode opened #28 "use separate files/object entry, so we can differentiate from other existing text"

[2021-10-06 08:36] MayurAdaptiveCode opened #29 "3. block UI if not using link with password with a popup saying a TBD message and "subscribe for updates here" which links to https://www.gooddollar.org/#mauticform_wrapper_phase0newslettersubscription"

[2021-10-06 08:37] codecapo opened #30 "open tasks in your preferred project management tool, i'd prefer we work with github/zenhub, but its your decision"

[2021-10-06 08:37] #30 closed, assigned to nobody

[2021-10-06 09:18] sirpy commented on #29
@tomerGD this needs texts + maybe a design/layout

[2021-10-12 14:43] sirpy opened #32 "project should be deployed to different envs"
Make sure project can be deployed to different envs.
We'll start with just staging but should be easily deployed to production once it is launched
- [x] deploy project to IPFS
- [x] set domain to point to IPFS on cloudflare fi-qa.gooddollar.org for staging and fi.gooddollar.org
- [x] Verify the smart contracts addresses that are used are read from @gooddollar/goodprotocol `releases/deployment.json

[2021-10-14 12:21] MayurAdaptiveCode commented on #29
Done

[2021-10-18 08:16] tomerGD opened #34 "User should be able to go to fuse bridge"
GIVEN a user
WHEN the user clicks on the fuse bridge button
THEN  the user will be redirected to https://app.fuse.fi/#/bridge

Acceptance Criteria
The button should appear on the left bar
The button should look the same as the link to the wallet.
The button will redirect the user to https://app.fuse.fi/#/bridge

[2021-10-18 08:18] tomerGD opened #35 "User should be able to see our datastudio dashboard"
On the left bar add "Dashboard"

https://datastudio.google.com/u/0/reporting/f1ce8f56-058c-4e31-bfd4-1a741482642a/page/UwsTB

The style of the link should be the same Wallet

The dashboard should be embedded

The dashboard tabs should also be rendered as from the design

[2021-10-18 08:29] tomerGD opened #36 "Approval of "spend token" should always be set on inifinity"
Before buying/ selling/staking a token, there's a need to approve the token.

all approval processes should be set on infinity so the user will need to go through the approval process only once.

Given user that wants to stake, swap or perform any other transaction that requires token approve
When user is shown the transaction to sign the token `approve`
Then transaction approve amount should be s

[2021-10-18 08:38] tomerGD opened #37 "User should connect to correct network"
A user might not be on the correct network when he performs and action or might not have the "Fuse" blockchain available on his wallet.

- [ ] **Examine how Sushiswap is handling (examine UI and Code) network switches in these two cases**
    - **user connected to a non supported network by sushiswap**
    - **user select to switch a network**

**valid networks:
staging env - kovan, ropsten, fuse

[2021-10-18 08:38] tomerGD opened #38 "User should have GOOD + G$ + G$X tokens imported to his metamask wallet"
User should be able to add our tokens to be tracked in metamask
See metamask docs: https://docs.metamask.io/guide/rpc-api.html#wallet-watchasset
- [ ] add on fuse
- [ ] add on ethereum
- [ ] detect if added already or not on each blockchain?
- [ ] only on metamask?
- [ ] is it possible to do so on other wallets??

[2021-10-18 08:41] tomerGD opened #39 "Edit portfolio - show only CDAI or DAI depending by what's staked"

[2021-10-18 08:44] tomerGD opened #40 "User should see his Social Contribution on the Portfolio page"
How much G$s in UBI did the user help to generate from staking and simply holding g$s

[2021-10-18 08:45] tomerGD opened #41 "Portfolio should show rewards earned to date"
Currently portfolio shows at the top part only rewards for current stakes, if user withdraw his stake and re-stake the rewards count will reset.
For each Individual staking row in the portfolio only the pending rewards should be display, and the count should reset when user unstake/stake.

**The current code looks correct to me, so need to verify if issue still exists.**

![image.png](https://imag

[2021-10-18 08:45] tomerGD opened #42 "Add bubbles while overing on all titles of the portfolio"
- [ ] add info bubbles over portfolio table titles
- [ ] put a place holder for the text + il8n

[2021-10-18 09:03] tomerGD opened #43 "Add Keepers UI (Epic)"
- [x] #73
- [ ] #74
- [ ] #75

[2021-10-18 09:50] sirpy commented on #36
@tomerGD what do you mean?
do you mean that approve should happen one time with an infinite value? so for the same token there's no need to approve again?

[2021-10-18 11:15] tomerGD opened #44 "make data available for dashboard via thegraph or other sources"
1. Interest reserve received
2. G$ generated from interest
3. G$ minted from the decline of the reserve ratio
4.  Disco length cycle
5. Disco time left for the current cycle
6. Current G$ amount in Disco

[2021-10-20 13:05] mukulshakya commented on #32
Looks like the initial record needs to be added manually ![image.png](https://images.zenhubusercontent.com/615acd8052594723dfe513b2/00d354a6-94d7-48fe-8399-e22d36fb4ef5)

Please add one record for the url https://dweb.link/ipfs/bafybeibf6fm2gk3khzy3uptnjacnjox5awmizkdqml6f6pufcpjystghcu

[2021-10-21 15:09] mukulshakya commented on #32
Okay cool i’ll try again

On Thu, 21 Oct 2021 at 8:38 PM sirpy ***@***.***> wrote:

[2021-10-21 15:09] mukulshakya commented on #32
Okay cool i’ll try again

[2021-10-27 07:05] #39 closed, assigned to nobody

[2021-10-28 10:45] sirpy opened #50 "Getting people to donate to the protocol"
- [ ] cool video or infogram explaining donations
- [ ] simple interface to donate
- [ ] integrate with simplex etc...

[2021-11-02 02:51] mukulshakya commented on #42
Hey @tomerGD

can you share a design mockup for the task?

[2021-11-02 07:14] sirpy commented on #42
@mukulshakya @MayurAdaptiveCode
here's the figma link to the current design
you can see the tooltip in multiple places. there should be a `?` or `i` icon next to the title and on hover it show show the tooltip.
@tomerGD we need a ?/i icon? or just show tooltip on title hover?

example form the design
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/43b2170d-ba0a-4b3f-b144

[2021-11-02 12:48] mukulshakya commented on #42
Thank you @sirpy

Hi @sirpy @tomerGD This is the current design of the portfolio page and `?` is placed in some places also. Where additionally is it needs to be added?

 ![image.png](https://images.zenhubusercontent.com/615acd8052594723dfe513b2/b530255d-95bf-4500-bb87-af61bbe93a35)

[2021-11-03 06:43] tomerGD commented on #42
@mukulshakya use exactly the same deisgn as TOKEN and PROTOCOL has, please ad it to
TYPE, STAKE, G$ REWARDS, MULTIPLIER, GDAO REWARDS

[2021-11-03 06:49] sirpy commented on #42
@mukulshakya I suggest that we do dynamic
if the text translation key for the title is non empty then show the `?` icon. ie `if(iln8('token_explanation')!="")`

[2021-11-04 11:19] MayurAdaptiveCode commented on #32
@sirpy

Looking at the deployment.json file, we don't have staging or production defined

Can provide the contract addresses that we need to use for production and staging?

[2021-11-08 08:12] sirpy commented on #37
@MayurAdaptiveCode the ticket description is correct.
regarding case c, verify what's the behavior today, I think for example the claim button according to the specs and design, should show a popover saying it can only be done on fuse. so that's good enough behavior.

[2021-11-09 00:37] MayurAdaptiveCode commented on #34
@sirpy

![image.png](https://images.zenhubusercontent.com/61559a3f6f288803279d3515/230289fd-290c-4281-99f8-2ba8f94c3515)

[2021-11-09 11:02] tomerGD commented on #40
@sirpy https://docs.google.com/document/d/1lCbaATypXBci1zXEncjyJhPyg_E3ZAEspDe9AInaBlM/edit#

Need your help aligning that

[2021-11-09 11:05] tomerGD commented on #41
Today when a user unstake his money - the "total rewards to date section" reseat, and start over if the user restake his money

instead when a user unstake his money the total rewards to date should remain and if the user restake his money should start the counting from there.

[2021-11-09 14:33] #35 closed

[2021-11-09 14:33] #34 closed

[2021-11-10 09:57] tomerGD opened #53 "Update all texts to the following"
https://docs.google.com/document/d/1NJCj4MUQU8vwbtkfY_c9epSI_Ykfl2K4Zf1WaLCBFnk/edit

[2021-11-10 12:52] mukulshakya commented on #42
Hey @tomerGD @sirpy

Can i get the all the messages that we need to show on the bubble.

[2021-11-10 12:55] mukulshakya commented on #53
Hey @tomerGD

Texts for which new column in empty are unchanged?

[2021-11-11 13:35] #32 closed

[2021-11-12 10:39] adaptivecodeio opened #56 "User should be able to select correct network"
Acceptance Criteria

use NETWORK env variable

if NETWORK is staging then fuse contracts are read from the 'staging' key in the json

if NETWORK is mainnet contracts are read based on the user WALLET connected network:

if NETWORK is kovan read kovan-mainnet

if NETWORK is ropsten then staging-mainnet

if NETWORK is production then for fuse read production from the json

If NETWORK is mainnet(ethe

[2021-11-15 14:55] MayurAdaptiveCode commented on #56
https://github.com/GoodDollar/GoodProtocolUI/pull/57/files

[2021-11-16 13:42] mukulshakya commented on #56
(production-mainnet) Ethereum network selection is currently disabled as contact addresses are not deployed

[2021-11-17 14:02] mukulshakya commented on #42
PR - https://github.com/GoodDollar/GoodProtocolUI/pull/58

[2021-11-18 13:17] mukulshakya commented on #42
Bubble have been added to the portfolio table we just need text description for each one
- Type
- Stakes
- G$ rewards
- Multiplier
- GDAO rewards

![image.png](https://images.zenhubusercontent.com/615acd8052594723dfe513b2/6c8880f9-1b28-4d01-b25c-f844e45a63ff)

[2021-11-19 10:57] adaptivecodeio commented on #56
@sirpy

Please Review

[2021-11-19 10:58] adaptivecodeio commented on #42
@tomerGD

Can you provide the text description for the bubbles please, thanks.

[2021-11-21 07:48] sirpy commented on #56
support for ethereum mainnet should be added if though contracts are not deployed yet.
@adaptivecodeio

[2021-11-21 07:49] sirpy commented on #42
@adaptivecodeio there's an with a document with the texts

[2021-11-22 07:52] sirpy commented on #44
@drptiago this is ready
can you add those graphs?
4+5 are just display values, meaning no graph, just the current value

[2021-11-22 08:16] sirpy opened #60 "User should be able to claim G$X"
If user didnt claim his G$X on ethereum yet (check status in smart contract) he should be a claim G$X button
- [x] #118
- [ ] submit tx with proof to claim G$X

[2021-11-22 08:18] sirpy opened #61 "Governance And governance on-boarding"
- [ ] When user still has GOOD tokens to claim on ethereum or fuse the claim button should be enabled
- [ ] User is then shown a modal with "recipient address" text box (optional) and "claim" button
- [ ] Once user claims two txs happen one to set the recipient in GReputation (if he entered a recipient address) and the other to claim GOOD
- [ ] User is then shown a searchable list of delegators an

[2021-11-23 14:32] adaptivecodeio commented on #53
Exception seen during staking flow, currently investigating and will provide full analysis

[2021-11-24 10:05] sirpy opened #62 "release script should use more env variables"
- [ ] Add the following envs to both to .env.example and make sure they are used correctly in code
   - NETWORK (defaults to staging)
   - MAINNET_RPC_URL (defaults to current hardcoded rpc)
   - FUSE_RPC_URL (defaults to current hardcoded rpc)
- [ ] release script should use set NETWORK to production if branch is 'production'
- [ ] clean .github actions scripts folder, what are all those scripts

[2021-11-24 11:38] mukulshakya commented on #42
Hi, @sirpy which document is this, can you link that here? Thanks

[2021-11-24 12:18] mukulshakya commented on #42
I found the doc but the text is missing for the headers:
- Stakes
- G$ Rewards![image.png](https://images.zenhubusercontent.com/615acd8052594723dfe513b2/a27ee3e1-9541-455a-b869-b1420a4dc1b4)

[2021-11-24 12:23] adaptivecodeio commented on #36
Conduct further refinement.

[2021-11-24 15:10] sirpy commented on #36
i've moved the issue to icebox

[2021-11-25 11:47] sirpy commented on #42
@sepu85
Hey Gus, can you take this over?

[2021-11-25 13:21] imanshu03 commented on #53
https://github.com/GoodDollar/GoodProtocolUI/pull/64

[2021-11-25 13:32] adaptivecodeio commented on #40
@sirpy

Can you verify the apy calculation is correct?

[2021-11-30 12:54] #38 closed

[2021-11-30 22:44] drptiago commented on #44
These info are collecting and inserted in the DEV dashboard:

https://datastudio.google.com/reporting/a742cbcf-ce03-4f8f-a31d-2d9ea376d9e1

Disco time left for the current cycle -> Is in reality the number of days running in this cycle.

In trust fund:
![image](https://user-images.githubusercontent.com/62208156/144140078-c6d1db6c-b69b-4431-8c9b-acc32453fd03.png)

In token:
![image](https://user-im

[2021-12-03 12:03] imanshu03 commented on #37
PR - https://github.com/GoodDollar/GoodProtocolUI/pull/66

[2021-12-03 17:12] sepu85 opened #67 "Governance Token is GOOD, not GDAO"
**Bug Description**
A clear and concise description of the bug:

Portfolio section disclose GOOD tokens as GDAO. Please refer to GDAO Rewards (or better, **GoodDAO Rewards**) when talking about rewards from the DAO (there where it now disclose GOOD Rewards), while when referring to the token itself, do it as GOOD tokens (not GDAO).

**
Steps to Reproduce**
It's just a texting issue in the Portfoli

[2021-12-03 17:18] sepu85 commented on #42
@mukulshakya sorry for the delay in this, here the input you are requesting:

* Type:
Staking could be of two types: UBI for funds staked on the GoodDollar trust for the generation of new G$ for universal income distribution, or Governance (to be enabled) for staking G$s for GOOD Rewards. (see issue #67 )
* Stakes
Total amount on value staked
* G$ rewards
How much value your stake has accumulated

[2021-12-03 17:23] sepu85 commented on #40
@adaptivecodeio Social APY is `Third party Protocol APY / Reserve Ratio` if third party APY (e.g. compund on DAI) is 3% and reserve ratio is 85%, then Social APY is 3 / 0.85 = 3.53%

[2021-12-03 17:32] sepu85 opened #68 "Add G$ logo to G$ token in Swap section"
**Bug Description**
Currently, when you select G$ for swapping, the GoodDollar logo is not disclosed, and we need it to be clear.
**Steps to Reproduce**
Just go to Swap section in protocol dapp

**Expected Behavior**
G$ logo to be correctly disclosed when swapping from/to G$. Please use:

![GoodDollar Icon 01](https://user-images.githubusercontent.com/22507864/144646831-9c2f79a9-7374-44c4-9d0d-736

[2021-12-07 13:41] sirpy opened #69 "User should be able to stake G$ to earn GOOD"
todo:
- [x] ethereum header
- [x] claim rewards separated to etherem/fuse

Test Cases:

- [ ] Stake GoodDollars over fuse network
- [ ] Create new frame : GoodDollar Stake
- [ ] Create new column: Token
- [ ] Create new column: Protocol
- [ ] Create new column: Governance Weight
- [ ] Create new column: Blocked Liquidity
- [ ] Create new column: Total Rewards
- [ ] Create new button: Stake button

[2021-12-09 16:58] adaptivecodeio opened #71 "Remove Log on screen on QA website"
Please disable the login page on http://fi-qa.gooddollar.org/

Success Criteria
A user should be able to access the website without being asked for a password

[2021-12-09 17:18] mukulshakya commented on #71
PR - https://github.com/GoodDollar/GoodProtocolUI/pull/72

[2021-12-10 12:49] #42 closed

[2021-12-10 12:49] #56 closed

[2021-12-13 13:12] codecapo opened #73 "allow users to call the "fish" on UBIScheme on fuse (use thegraph to get list of inactive accounts)"

[2021-12-13 13:12] codecapo opened #74 "allow users to call the "collectInterest" on GoodFundManager on ethereum"

[2021-12-13 13:12] codecapo opened #75 "allow users to call the "collectInterest" on FuseStaking on Fuse"

[2021-12-13 16:41] adaptivecodeio opened #76 "Setup CI/CD to include dev environment"
Setup an new environment where development merge requests can be pushed and tested in a reference environment before it is merged into staging and production

[2021-12-13 16:42] adaptivecodeio opened #77 "Setup dev env"
Currently  github actions deploys the code to IPFS with "staging" env settings.
It also updates fi-qa.gooddollar.org to point to the new IPFS file

- [x] create a similar process for the dev env.
- [x] process should be based on branches: dev, staging
- [x] use fi-dev.gooddollar.org

[2021-12-13 16:43] adaptivecodeio opened #78 "Implement additional github actions with approval flow for merging from dev to staging"

[2021-12-13 21:32] womaninblockchain commented on #71
Works correctly. When entering the website it does not ask to log in

[2021-12-14 15:21] sepu85 commented on #69
Description:
Add functionality for user to stake their GoodDollars over fuse network. This feature shall be able from the `Stake`(left panel) section.

Context:
<img width="1425" alt="Captura de pantalla 2021-12-14 a las 15 57 34" src="https://user-images.githubusercontent.com/22507864/146023037-d031b5e5-29b0-49ae-b96f-79013d25bab9.png">

while the current UI is seems as above, first we need to di

[2021-12-14 17:21] sirpy opened #79 "UI should work with MAINNET"
- [ ] verify nothing is hard coded to KOVAN
- [ ] getProvider under sdk folder, uses ethers default providers. add two env variables MAINNET_RPC, FUSE_RPC for deployment custom RPCs that would overwrite the defaults for mainnet and fuse.

[2021-12-14 19:19] sepu85 commented on #69
on portfolio section, user should:
[ ] disclose how is it's staking position of G$.
[ ] claim GOOD tokens

[2021-12-15 06:57] sirpy commented on #79
@adaptivecodeio this is high priority

[2021-12-16 08:56] sirpy opened #80 "Update text user should see after staking"
Currently after staking, user is immediatly shown the dialog "Did you just create UBI for thousands of people around the
 - [x] Modify dialogue from "Did you just create UBI for thousands of people around the world?" to "Your staking transaction for generating UBI for thousands of people around the world has just been broadcasted to the network"; OR if the tx is confirmed, just by "You did just cr

[2021-12-16 08:57] sirpy commented on #80
@sepu85 what do you think about the this dialog and "yes I did" specifically is that clear enough?

[2021-12-16 11:06] sepu85 commented on #80
@sirpy I find that asking question to the user after they perform any action is confusing.

as a DeFi user, I'd like the UX to give me answers and clarifications about what I´m doing... not making me question.

I'm guessing you guys designed like this to make sure the user confirms by his own transaction instead of making the app giving him such a confirmation.

My suggestion is to change both dia

[2021-12-16 11:38] sepu85 opened #81 "Portfolio section: Separate "Claim Rewards" and "Withdraw Liquidity" from staking pools"
**Bug Description**
It is currently not possible to Claim Rewards without withdrawing liquidity from staking pool, also UX is not clear about gow many G$s are for the staker to claim his rewards.

**Steps to Reproduce**
1. Go to Portfolio
2. It's assumed user has already staked assets for generating UBI and the rewards program is ongoing.
3. Click on "Claim Rewards" as there is no option like "Wit

[2021-12-16 11:52] sepu85 opened #82 "G$ Rewards information in Portafolio / Ethereum staking is not correct"
**Bug Description**
The `G$ Rewards` column's data is expected to be referring to the current available G$ rewards that can be claimed by user. But for a new/recent deposit, the amount showed seems to high when it should be 0 or close to cero and raising.

**Steps to Reproduce**
1. Assure you have nothing staked.
2. Stake any amount
3. Go to portfolio and check how much G$s you have earned so far

[2021-12-16 12:55] sepu85 commented on #82
<img width="353" alt="Captura de pantalla 2021-12-16 a las 13 54 46" src="https://user-images.githubusercontent.com/22507864/146375866-afec0e7b-f974-4d4d-a306-16099b313f0d.png">

here just an example about how app.fuse.fi has both options

[2021-12-16 22:25] sirpy commented on #81
@sepu85 i think tthis is a mistake and the button should say withdraw next to each protocol
at the first section there's a claim button only for rewards

[2021-12-17 08:54] sepu85 commented on #81
I agree, in portfolio section, all rows (staking positions) should have a button saying `Withdraw`rather than `Claim reward`

now I understand, nice. So that's a button that claim ALL rewards from ALL positions?? I believe we should have a dedicated `Claim Rewards` button per each staking position, but this is a new feature we could add to the backlog (let's talk this before opening a new issue, t

[2021-12-17 12:48] mukulshakya commented on #69
Hey @sepu85, For ticket 69 i need staking contracts available for G$ token in FUSE(staging) namespace in deployment.json (ref img: https://prnt.sc/23eq6kq)

[2021-12-17 13:26] sepu85 commented on #69
@sirpy @galw can you provide? 👆🏼

[2021-12-17 13:54] imanshu03 commented on #36
@sepu85 please take a look at this document for the blocker we are facing while trying to achieve this functionality https://www.notion.so/Ticket-36-Blocker-558e57d5765d407b92c8e136544df4f2

[2021-12-17 14:27] sepu85 commented on #36
@imanshu03 please share access to gustavo@gooddollar.org

[2021-12-18 22:25] sirpy opened #83 "(Bug) wiithdraw missing option to withdraw into interest token"
In portfolio page when withdrawing from Trust Fund the popup should show a toggle to withdraw into interest token
**just like when staking you have the toggle to deposit interest token.**

![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/c37c7edb-729f-4f83-a78f-52ee1c9e744a)

Technical hints
- see SimpleStakingContract.
 - staking.ts line 883, simply false needs to be con

[2021-12-19 07:08] sirpy commented on #36
@imanshu03 @adaptivecodeio  when reporting issue use github we dont need any more services unless there's a specific need.
if you need to attach video use some video sharing service.

[2021-12-19 07:09] sirpy commented on #69
i'm working on this issue

[2021-12-19 07:18] sirpy commented on #81
in the portfolio page at the top it shows your "all accumulated (claimed+unclaimed) rewards  from all contracts"
in the middle it shows you "claimable rewards"
per position it shows the "all accumulated rewards(claimd+unclaimed) from this contract"

Yes we need to reconsider the claim rewards buttons, that was a decision Tomer took.

[2021-12-19 07:38] sirpy commented on #80
I agree. I wasn't involved much in the UX.
What about waiting for the TX to be confirmed? do you think we should have
the user wait? otherwise we need some kind of indication, like in uniswap
at the top right they show that a TX is pending

[2021-12-19 11:37] sirpy commented on #69
![image](https://user-images.githubusercontent.com/671095/146673155-90bb0f98-bece-4938-86c9-61fbf80e8743.png)
![image](https://user-images.githubusercontent.com/671095/146673163-420091ab-42ee-44ca-900c-9e3a7db848d2.png)
![image](https://user-images.githubusercontent.com/671095/146673184-c0f2a9f8-6408-440e-8f10-442476ac75df.png)
![image](https://user-images.githubusercontent.com/671095/146673486-e1

[2021-12-20 12:56] sepu85 commented on #40
what do you expect from me here @sirpy ? I think my last response clarified this already.

[2021-12-20 12:59] sirpy commented on #40
this is not about the protocol.
this is about the social apy that appears at the user portfolio page.
it is actually not APY but rather nominal according to tomer's request, ie how many G$s in total did the user help to create.
please read Tomer's doc.

[2021-12-20 13:44] galw opened #85 "Main page page should be 'swap' instead of 'dashboard'"
**Bug Description**
When you open the main page it should go 'swap' instead of 'dashboard'.
For example, in this deployed version when you go to https://v2.goodswap.xyz/ it should go to https://v2.goodswap.xyz/#/swap instead of https://v2.goodswap.xyz/#/dashboard

[2021-12-20 13:56] adaptivecodeio commented on #36
Access shared

[2021-12-20 14:26] imanshu03 commented on #36
When user approves for first time with spend limit amount set to Max(uint256) value for the first transaction and afterwards when we try to sell again for second time or forth, we have to approve the transaction again as the applications current functionality is built in a way to approve each transaction. We need to further refine this approach as implementing infinity spend token approval would r

[2021-12-20 19:44] sirpy commented on #36
@imanshu03 that's ok.
in my PR i've changed it to check the approval state, if there's enough approved pressing approve will happen immediately without sending a TX.
copy paste this check to other places where the approve button is shown.
we can find a solution to remove the approve step in a different issue

[2021-12-20 21:38] womaninblockchain commented on #69
Checklist to do:

- [ ] Stake GoodDollars over fuse network
- [ ] Create new frame : GoodDollar Stake
- [ ] Create new column:  Token
- [ ] Create new column:  Protocol
- [ ] Create new column: Governance Weight
- [ ] Create new column: Blocked Liquidity
- [ ] Create new column: Total Rewards
- [ ] Create new button: Stake button
- [ ] Create new button: Unstake button
- [ ] Showing portfolio/stak

[2021-12-21 07:44] #69 closed

[2021-12-21 10:29] sepu85 opened #87 "add Discord link to support"
**Is your feature request related to a problem? Please describe.**
We are aiming to bring protocol-UI users to our community in Discord instead of telegram.

**Describe the solution you'd like**
Please add a Discord (logo) button and hyperlink it with the following link: https://discord.gg/RKVHwdQtme
![108-1084991_discord-logo-transparent-background-discord-logo-png-png](https://user-images.github

[2021-12-21 10:48] sepu85 commented on #69
@sirpy I'm testing this out now. I have two feedbacks:

1. When in a Non-Fuse network, the button is not disclosing the right variable:
<img width="979" alt="Captura de pantalla 2021-12-21 a las 10 37 46" src="https://user-images.githubusercontent.com/22507864/146907159-833687ce-b2d7-4072-ad10-19d0493bbceb.png">
it says "Switch to {Network}" instead "Switch to Fuse"
2. I tried to stake my G$s on F

[2021-12-21 10:52] sepu85 opened #88 "Disclose proper Network name regarding issue #69"
**Bug Description**
In issue #69 the G$ staking feature over Fuse network was enabled, Although:
1. When in a Non-Fuse network, the button is not disclosing the right variable:
<img width="979" alt="Captura de pantalla 2021-12-21 a las 10 37 46" src="https://user-images.githubusercontent.com/22507864/146907159-833687ce-b2d7-4072-ad10-19d0493bbceb.png">
it says "Switch to {Network}" instead "Switch

[2021-12-21 12:40] mukulshakya commented on #87
PR - https://github.com/GoodDollar/GoodProtocolUI/pull/89

[2021-12-21 12:41] mukulshakya commented on #85
PR - https://github.com/GoodDollar/GoodProtocolUI/pull/86

[2021-12-21 14:25] sirpy opened #90 "(Bug) swap issues"
- [x] G$ icon missing #92
- [x] liquidity provider fee seems to be fixed on 0.3 ETH, that should be fixed at 0.3% or calculated to 0.3% of the input amount
- [x] GDX - when swapping X->G$ it should show +GDX ie +500 and when G$->X it should show -GDX
since when buying you receive GDX and when selling you spend GDX

![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/f063a8db

[2021-12-21 14:55] #87 closed

[2021-12-21 15:16] sirpy commented on #37
@imanshu03 @womaninblockchain
this needs to be tested with walletconnect how does it behave when user isnt using metamask?
specifically you are hardcoded using the window ethereum and not the active web3 library user chose to connect with, which could be wallet connect

[2021-12-21 15:21] imanshu03 commented on #37
@sirpy We were getting errors while using the active web3 library for switch network on "connected to wrong network" scenario, that is why I used window ethereum to switch networks

[2021-12-21 15:23] sirpy commented on #37
@imanshu03 yes that's because the reactweb3 has a "supported chains" list and if you start from an unsupported chain it will not work.
in any case if something is not working, you need to understand why, not simply change the whole architecture without understanding the implications.

[2021-12-21 15:35] imanshu03 commented on #37
@sirpy I had gone through enough links to find the issue caused due to the active web3 library and its fix but was not able to find one that is why I changed to window ethereum. But I'll be more careful next time when doing any such thing and clarify it before respectively.

[2021-12-21 16:10] sepu85 opened #91 "Wrong Success Message after G$ Staking for GoodDAO governance"
**Bug Description**
After staking G$s in GoodDAO staking, the disclosed message is the one foreseen for GoodStakes staking, not the GoodDAO staking.
<img width="776" alt="Captura de pantalla 2021-12-21 a las 15 58 16" src="https://user-images.githubusercontent.com/22507864/146960807-6d5940c7-7e0f-42a5-b9cc-d31c85b087a5.png">

The button message is therefore also wrong. Please perform following cha

[2021-12-21 16:11] sirpy opened #92 "(Bug) G$ token icon is missing everywhere"
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/566910bb-9ccd-4165-9b0a-b5d7e7f06b18)

- [x] fix missing G$ icons in swap
- [x] in stake
- [x] in portfolio
- [x] update the add to metamask icons for G$X, GOOD, G$
- [x] verify it works in all networks fuse/ropsten/kovan/ethereum

[2021-12-21 16:15] annastone-86 opened #93 "Coinbase browser extension error"
Metamask browser extension doesn't work with Coinbase browser extension. Had to disable Coinbase browser extension in order for Metamask to work on the new UI

[2021-12-21 16:18] sirpy opened #94 "portfolio/staking data should be polled and updated"
Staking/Portfolio doesnt update after a user action
- [ ] staking/portfolio should refresh when user focuses on tab again
- [ ] staking/portfolio should trigger a refresh once user TX is confirmed

**Sushiswap code should probably already have tools and hooks for that**

[2021-12-21 16:20] sirpy opened #95 "(Bug) social apy and GOOD rewards are not correct on AAVE staking"
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/3f910d4e-f175-4e13-a4f7-1001a306faaa)

GOOD should not be zero and social apy should be roughly the same as on compound

[2021-12-21 16:26] sirpy commented on #82
@sepu85 on what network is that? kovan?
if you claim your rewards and thats what you get then it is ok

[2021-12-21 16:27] sirpy commented on #67
@womaninblockchain i believe that was fixed

[2021-12-21 16:29] annastone-86 opened #96 "(Bug) dapp webpage doesn't load on Safari"
The webpage shows as blank, doesn't load up the content of the dapp page

- #97 might be related
- probably related to metamask not extension not available on safari/mobile browsers

[2021-12-21 16:32] sirpy commented on #68
closed in favour of #92

[2021-12-21 16:33] annastone-86 opened #97 "Blank page on mobile"
Site doesn't load on Chrome on mobile, Screenshot taken from android phone

![photo_2021-12-21 11 32 59](https://user-images.githubusercontent.com/62283025/146965446-31f8b7de-7f8e-4668-bb01-87e0a70ad5e7.jpeg)

[2021-12-21 16:36] sirpy opened #98 "(Bug) multiplier tooltip not clear"
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/f78a377c-558f-4eeb-a501-de53a4ec1ae7)

what does it mean at this point you can claim more G$?

[2021-12-21 16:37] sepu85 commented on #92
G$ Logo:
![G$ Coin](https://user-images.githubusercontent.com/22507864/146965921-2fa59a78-b7f6-4ce2-9163-deedaf625cac.png)

G$X Logo:
![G$X Coin B](https://user-images.githubusercontent.com/22507864/146965956-7425d854-7787-48bf-b586-4e2f0f55c181.png)

GOOD logo:
![GOOD Coin](https://user-images.githubusercontent.com/22507864/146966019-90dcb7dc-ff2e-49be-812f-b82fbcf78db4.png)

[2021-12-21 18:14] sepu85 commented on #82
Yeah, I think I was just confused, let's close this!

[2021-12-21 18:14] #82 closed

[2021-12-21 18:17] sepu85 commented on #98
yep!

here what stated in documentation @sirpy

<img width="796" alt="Captura de pantalla 2021-12-21 a las 19 16 27" src="https://user-images.githubusercontent.com/22507864/146978920-f5580ca5-e409-4bd0-8063-82145413d5a8.png">

https://gooddollar.gitbook.io/gooddocs/protocol-v2/elements-of-the-gooddollar-ecosystem

[2021-12-21 19:40] womaninblockchain commented on #67
Fixed

[2021-12-22 07:34] sepu85 commented on #95
@adaptivecodeio Social APY is Third party Protocol APY / Reserve Ratio if third party APY (e.g. compound on DAI) is 3% and reserve ratio is 85%, then Social APY is 3 / 0.85 = 3.53% Same for Aave USDC ofc.

Raising this to top priority as it's generating a trust issue, and should also be low effort.

[2021-12-22 11:04] sirpy opened #99 "(Bug) wallet balance not updating when switching accounts"
when switching account on metamask the balances do not update
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/7944b94f-3255-4489-b109-f028ce957b6d)

[2021-12-22 15:12] imanshu03 commented on #36
@sirpy Please review PR - https://github.com/GoodDollar/GoodProtocolUI/pull/101
I have made the changes for Buying and Selling as you did for Staking

[2021-12-22 17:38] patpedrosa opened #102 "Blank page on chrome (mac & win): networkVersion undefined"
**Bug Description**
User reports seeing a blank page when accessing goodswap.xyz.

**Additional Context**

Devices tested by user
Mac OS 12.0.1 (21A559)
Chrome Version 96.0.4664.110 (Official Build) (arm64)  -- latest version

and

Chrome 96 - on windows 10

**CONSOLE**
<img width="715" alt="Screen Shot 2021-12-22 at 19 34 22" src="https://user-images.githubusercontent.com/49105975/147133066-8e173

[2021-12-23 08:34] sepu85 commented on #98
@sirpy I'd propose to change the word `claim` in that bubble to `be rewarded with`.

[2021-12-23 08:40] sepu85 commented on #97
@adaptivecodeio is there any other issue dealing with this? Lot of users are reporting their willing/need to connect to the Dapp through metamask.

[2021-12-23 11:08] #67 closed

[2021-12-23 11:08] sepu85 commented on #67
closing

[2021-12-23 11:12] sepu85 commented on #102
hi @patpedrosa can you check again taking into consideration metamask settings?

errors are related to "Network Version" so this seems a problem to be related to user's wallet configuration.

[2021-12-23 16:52] patpedrosa commented on #102
Raph doesn't not have metamask

[2021-12-23 19:18] sepu85 commented on #102
it won´t work then! the UI is only accesible through metamask. Please share this with user: https://www.notion.so/gooddollar/How-to-Connect-G-Address-to-Metamask-c67f0a0f482d4692b372476144011bbc

then he can connect from the same browser.

[2021-12-23 19:18] #102 closed

[2021-12-24 08:27] sirpy commented on #102
@sepu85 it should work without metamask. in this case there's already other issue for that

[2021-12-24 08:33] #36 closed

[2021-12-25 08:20] mukulshakya commented on #90
Hi @gustavo,

I do not have any token balances in my account to replicate the same can you help me with some test account or any way to test?

[2021-12-25 08:25] mukulshakya commented on #90
cc: @adaptivecodeio

[2021-12-26 04:23] mukulshakya commented on #91
This is how it looks now
![image](https://user-images.githubusercontent.com/34328275/147398800-47fb21c7-e973-480a-b063-015835b727c3.png)

[2021-12-26 04:39] mukulshakya commented on #92
![image](https://user-images.githubusercontent.com/34328275/147399013-155242d6-0ece-484e-8c8f-63f4dd19aba7.png)
![image](https://user-images.githubusercontent.com/34328275/147399022-d477ac42-d018-4c3c-8c60-dcb39f12c794.png)

[2021-12-26 04:41] mukulshakya commented on #88
Updated, and should work with language change as well
![image](https://user-images.githubusercontent.com/34328275/147399044-0bbaec76-3fa4-497a-b1b5-e9509a23c68f.png)
![image](https://user-images.githubusercontent.com/34328275/147399052-cbf4ba94-0318-4ab3-9c88-07d79dba1832.png)

[2021-12-27 10:06] sirpy commented on #91
@mukulshakya @sepu85
what about the message for regular staking?

[2021-12-27 10:07] sirpy commented on #90
@mukulshakya use ropsten/kovan faucet

[2021-12-27 11:01] mukulshakya commented on #90
Hi @sirpy what's that? i don't have any idea

[2021-12-27 11:02] mukulshakya commented on #91
@sirpy for all other cases the message will be same as before, and rest maybe @sepu85 can confirm if any more change is expected.

[2021-12-27 12:23] sirpy commented on #91
@mukulshakya it shouldnt
both should have the "go to protfolio"/"close"
and @sepu85 should provide the message text

[2021-12-28 13:02] sepu85 opened #107 "G$ Rewards - Value in USD does not correspond to G$ price."
**Bug Description**
Rewards value doesn't correspond to real price!

<img width="822" alt="Captura de pantalla 2021-12-28 a las 13 31 16" src="https://user-images.githubusercontent.com/22507864/147566539-b128b96c-324f-47b8-b069-ec234c77fe95.png">

**Steps to Reproduce**
1. Stake into the GoodStake positions
2. Go to portfolio, after a certain time earning G$rewards, check that value in USD does no

[2021-12-28 13:58] sepu85 commented on #90
hey @sirpy, I find the `Liquidity provider fee`parameter and its explanatory bubble quite missleading. Can we add to the bubble that such a fee is a 3rd party fee AND that if user purchases from cDAI the fee is not applicable?
![Captura de pantalla 2021-12-28 a las 14.57.45.png](https://images.zenhubusercontent.com/5c17881eb59cfb36f158d73a/dc088372-6dee-4c0a-8ea8-690161d8df3b)

also, that fee incr

[2021-12-28 14:09] sirpy commented on #90
Yeah sure we can change the text to whatever you want.
no the fee will always be 0.3% regardless of route

Hadar Rottenberg
Technical Lead, GoodDollar
+972-507 319 093  (telegram <http://t.me/sirpy>, whatsapp)  blog
<https://medium.com/dablock>  gooddollar.org <http://www.gooddollar.org/>

* <https://www.facebook.com/TheGoodDollar>
<https://twitter.com/TheGoodDollar>
<http://instagram.com/gooddoll

[2021-12-28 17:29] sepu85 commented on #90
cool, I just checked and when purchasing from cDAI, the LP fee is equal to zero, which is ok!!

@mukulshakya @adaptivecodeio the following change needs to be done ASAP as this missinformation is preventing people to purchase the token!
- [ ] Change `0.3 ETH` to `0.3%`
- [ ] Change buble text to: `Swapping G$ against GoodReserve has no third party fees if you swap from/to cDAI as it's our reserve t

[2021-12-28 17:34] mukulshakya commented on #90
Hi @sirpy @sepu85 i am still not sure on how can i get test tokens to replicate the following.

Message i’ll check and update

[2021-12-29 07:05] sirpy opened #108 "(Bug) swap details incorrect"
When swapping between cdai<->G$ meaning directly from reserve.
on Ethereum (production probably also on kovan)
- [x] price is incorrect
- [x] price impact is always 0
- [x] when switching the trade direction, the price always stays the same. it changes for a second but then switches back.
- [ ] ~~waiting for confirmation modal should show amount we swapping not price~~
![image.png](https://images.

[2021-12-29 15:49] imanshu03 commented on #108
@sirpy I have fixed the price issue. For Price Impact issue, our application does not computes the price impact for cDai and Dai while fetching meta information on selling i.e Swapping from G$ to cDai/Dai. Do you want me to add price impact for this case scenario ?

[2021-12-29 19:01] sirpy commented on #108
@imanshu03
yes. new price is
P = (cR + (buy amount/-sellReturn)) / (cG + (buyReturn/sell amount))*rr
cR = current cdai in reserve
rr = current reserve ratio
cG = current G$ supply

price impact = % diff between new price and current price

[2021-12-29 19:06] sirpy commented on #108
@imanshu03 hmm in second thought, how is the price impact calculated in other cases?

[2021-12-29 19:11] sirpy commented on #108
i believe the price impact should actually be in all cases
when buying: buyReturn/cdaiAmount vs current G$ price at reserve in cDAI
when selling: 1/(sellReturn/g$Amount) vs current G$ price at reserve in cDAI

[2021-12-30 10:12] imanshu03 commented on #108
@sirpy I'll look how are we currently calculating the price impact for other swaps. Just some quick questions:
Do we need to show the new price to the user by formula you stated ?
Is current price the price that we are currently computing without the formula or anything else ?

[2021-12-30 10:18] sirpy commented on #108
@imanshu03
The new price is according to the first formula I gave p=R/G*rr
current price is received directly from the reserve. i believe there's a function for that "g$price". the reserve is actually using the above formula that I gave you.

[2021-12-30 10:31] imanshu03 commented on #108
@sirpy Okay, Can I use that function for computing new price ?

[2021-12-30 10:39] sirpy commented on #108
@imanshu03 yeah ok i found another mistake, and I just now realized about your question of price.
And i'm not sure how to handle it.
price should be the actual price user will be getting per G$
price impact should be the expected spot price at the reserve after the swap vs current price at the reserve.

the price should be calculated as:
when buying: buyReturn/input token
when selling: 1/output to

[2021-12-30 10:52] imanshu03 commented on #108
![Screenshot 2021-12-30 at 4.21.22 PM.png](https://images.zenhubusercontent.com/61925bd4897d42d4514e110d/d6244c34-cc0e-46f5-9fef-ffaf4efeecae)![Screenshot 2021-12-30 at 4.21.36 PM.png](https://images.zenhubusercontent.com/61925bd4897d42d4514e110d/f15d2015-153c-41ea-b685-cce6a16e895c)

Currently this is how I have handled the Price. If you can take a look and tell me if its correct way or not

[2021-12-30 12:10] imanshu03 commented on #108
@sirpy currently we are calculating the price as follows :

buying - inputAmount / outputAmount(Fraction) * outputAmount(Decimal scale)
selling - outputAmount * inputAmount(Decimal Scale) / inputAmount(Fraction)

[2021-12-31 08:15] sirpy commented on #108
The price impact doesnt look logical. cdai<->G$ should result in almost 0% price impact as this is exchanging at the reserve directly.
what is the price impact calculation for X->cdai->G$ ?

[2022-01-03 07:25] sirpy commented on #108
@imanshu03 uniswap sdk has a helper method to calcualate price impact
see https://github.com/Uniswap/sdk-core/blob/main/src/utils/computePriceImpact.test.ts

so price impact is the difference between the current price vs the actual price

[2022-01-03 13:58] imanshu03 commented on #108
@sirpy It is same for both the scenarios i.e. price impact is difference between current price vs actual price for both buying/selling ?

[2022-01-03 15:06] imanshu03 commented on #108
@sirpy currently the price impact for buying is calculated as follow :-
priceImpact = 1 - minimumOutputAmount / cDaiAmount / G$ to cDai ratio * 10^6

[2022-01-03 15:50] sirpy commented on #108
@imanshu03
1. the price impact is calculated on the output token. so when selling it is relative to the output token
2. i'm not sure about the calculation, i gave you uniswap that should be the baseline to understanding how to calculate price impact. But for sure it would need to be adapted per token, the calculation you wrote uses cDaiAmount but that is only available when buying with cdai, when

[2022-01-03 16:13] imanshu03 commented on #108
@sirpy cDai Amount that I mentioned is relative to the input token. If input token is something else other than cDai, we first convert our input token amount to cDai amount and then calculate the price impact

[2022-01-03 19:44] sirpy commented on #108
@imanshu03 ok perfect

[2022-01-04 09:03] sepu85 commented on #90
@mukulshakya @adaptivecodeio sorry but it's difficult to tolerate that such an urgent and no complex bug to be still open all this time because a dev doesn't have test tokens...

![Captura de pantalla 2022-01-04 a las 10.00.45.png](https://images.zenhubusercontent.com/5c17881eb59cfb36f158d73a/04b3d137-bffb-4a5c-a104-baca85a121bf)

https://gitter.im/kovan-testnet/faucet

[2022-01-04 13:02] sirpy commented on #90
@mukulshakya @sepu85 that faucet isnt working actually:)
try
https://faucets.chain.link/

[2022-01-04 13:59] sepu85 commented on #97
actually, the problem is not only form from mobile, but from any browser (also PC) that does not have metamask extension installed.

[2022-01-04 14:06] imanshu03 commented on #108
@sirpy Is the formula for price impact calculation for buying is correct or not ?

[2022-01-04 14:19] sepu85 commented on #50
Please see https://giveth.io/project/gooddollar

@sirpy what do you have in mind with "video" and integrations?

[2022-01-05 08:38] sirpy commented on #50
video - could be just one of the video we already have, just so people understand what it is.
or an explanation about the donation, showing that it is like an endownment that will generate UBI for ever

integrations - well basically just a fiat gateway, send user to buy dai/eth so he can then donate to the donations contract

[2022-01-05 08:41] sirpy commented on #108
1. i dont know if it is correct. i gave you the uniswap file with the formula.
2. what kind of difficulty, I cant help if you dont elaborate. please use slack to discuss this in realtime

[2022-01-05 11:46] imanshu03 commented on #108
@sirpy
Price Impact for Buying is calculated as follows :- (G$ - cDai to G$) /  (cDai to G$)
G$ -> output Amount
cDai to G$ ->  Input token converted to cDai token and then cDai token converted to G$ using G$ to cDai ratio at reserve

Which is same as one done in uniswap sdk computePriceImpact method. Price Impact calculation is done correctly as expected, I'll look into selling price Impact calcu

[2022-01-05 12:25] mukulshakya commented on #90
Hi @sepu85 attaching screenshots for ref

Updated tooltip text
![image](https://user-images.githubusercontent.com/34328275/148216810-ced70dc8-7ae1-4701-a99a-38fe7ac7953c.png)

Buying G$
![image](https://user-images.githubusercontent.com/34328275/148217142-289b670d-d3ea-4558-a501-47069e1227b3.png)

Selling G$
![image](https://user-images.githubusercontent.com/34328275/148217235-555dc029-6ff9-40f6-b

[2022-01-05 12:30] mukulshakya commented on #90
Updated tooltip text
![image](https://user-images.githubusercontent.com/34328275/148217836-a99d381b-713a-45a0-bbe3-5ee9594c5809.png)

[2022-01-05 12:37] mukulshakya commented on #91
Hi @sepu85 Can you please share the 'text' to update

Hi @sepu85 can you please share 'text'to update?

[2022-01-05 13:11] womaninblockchain commented on #90
@sirpy @sepu85 - Fixed

[2022-01-05 13:12] womaninblockchain commented on #92
@sirpy @sepu85 - fixed

[2022-01-05 13:34] imanshu03 commented on #97
@wo

[2022-01-05 13:38] imanshu03 commented on #97
@sirpy  @womaninblockchain
Application is now accessible on mobile devices.
I have verified for Chrome on Android, Safari on iOS and Chrome on iOS.

[2022-01-05 13:39] imanshu03 commented on #96
@sirpy @womaninblockchain
Application is now accessible on Safari.

[2022-01-05 14:18] womaninblockchain commented on #96
Is fixed

[2022-01-05 14:22] womaninblockchain commented on #97
@sepu85 Fixed

[2022-01-05 17:06] sepu85 commented on #91
hey @mukulshakya yes, I actually have a change suggestion just on the last phrase of the text:

"You have just staked your G$s, this action is gonna reward you with GOOD governance tokens, which you can use for voting on our GoodDAO."

[2022-01-05 17:10] sepu85 commented on #90
awsome! @mukulshakya is this merged already?

[2022-01-05 17:12] sepu85 commented on #97
is this merged already @womaninblockchain ?

[2022-01-05 17:12] mukulsib commented on #90
@sepu85 not yet merged, @sirpy please review

[2022-01-05 17:15] mukulshakya commented on #90
Not yet @sepu85, waiting for the signoff from @sirpy

[2022-01-05 17:28] sepu85 commented on #90
@mukulshakya just seeing...

why is there a liquidity provider fee of 1.91328% when swapping from G$ to ETH??

[2022-01-05 19:52] sirpy commented on #97
@sepu85 if you scroll up a little you would see
![image](https://user-images.githubusercontent.com/671095/148279977-bfd10af9-e07e-4255-90b5-65672bf3b6c3.png)

that's the PR and you can see that it is still open. once it is merged you see that it is merged

@imanshu03 we asked countless times that you connect the PRs to the issues this way its easier to understand the status of everything

[2022-01-05 20:04] imanshu03 commented on #97
@sirpy I had connected the PR to the issue just after creating the PR as mentioned by you earlier. You can refer to the time log as well.

[2022-01-06 07:20] #96 closed

[2022-01-06 07:20] #97 closed

[2022-01-06 07:24] sirpy commented on #91
@sepu85 we need the message text for ubi staking also

[2022-01-06 07:27] sirpy commented on #90
@mukulshakya @womaninblockchain see @sepu85 comment

[2022-01-06 08:55] sirpy opened #112 "User should be aware that he is swapping on FuseSwap"
When user is on mainnet (ethereum) he buys/sells directly on the gooddollar reserve which can mint as many gooddollars as the user wants to buy.
The reserve has very low slippage/volatility relative to AMMs (ie uniswap)
When user is on fuse he buys/sells on fuseswap which not only have a different price then the reserve but is also more volatile

- [ ] when swapping on fuse add fusefi logo at the

[2022-01-06 10:10] sirpy commented on #77
@YpetrovAJ

[2022-01-06 10:13] #44 closed

[2022-01-06 10:44] sirpy commented on #81
@YpetrovAJ
Here the user need to have two buttons next to his stake position "Withdraw" and "Claim Rewards"
Needs a layout from the designer

[2022-01-06 13:03] imanshu03 commented on #94
@sirpy Please specify the delay in seconds for polling

[2022-01-06 13:51] sirpy opened #113 "User should have a DAO Treasury dashboard"
We want to have  a page showing the protocol owned liquidity.
Each treasury source should show what kind of assets it holds and a short description of it

- The reserve - Show much is stored in the reserve.
- Donations contract - show funds (eth + DAI) held + staked in GoodStaking by this contract
- Community pool - show G$ funds on the FuseStaking contract on Fuse.

Design Requirements
- [ ] list

[2022-01-06 13:52] sirpy commented on #113
@sepu85 What do you think? anything else?

[2022-01-06 15:15] sepu85 commented on #113
I'm just thinking about a Donation's feature so people can deposit directly into the community pool (or any vault chosen by user).

[2022-01-07 15:39] womaninblockchain commented on #94
@sirpy @sepu85
Fixed - To review

[2022-01-09 07:12] sirpy opened #114 "Swapping from reserve should be called mint/redeem"

[2022-01-09 09:18] sirpy commented on #94
@womaninblockchain i've changed my mind
refresh should happen after user TX or after user comes back to tab

[2022-01-10 08:52] L03TJ3 commented on #99
Is it true this has been fixed already?

[2022-01-10 08:58] L03TJ3 commented on #80
What work has already been done on this?

So to get it clear.
What is needed is:
Update Text + Button
Add pending/confirmation Toast notification

Correct?

[2022-01-10 09:08] sirpy commented on #80
@L03TJ3 so the text has been modified a little, but you can review and make suggestions
I think a toast notifications could be a nice addition... does suhsiswap has that component?

[2022-01-10 10:56] sepu85 commented on #114
I'm not sure about this! let's talk!

[2022-01-10 11:08] sepu85 commented on #108
hey, I have just discovered one more error retaled to this:

<img width="733" alt="Captura de pantalla 2022-01-10 a las 12 05 07" src="https://user-images.githubusercontent.com/22507864/148755961-8177fc0f-8653-4f74-a5a3-4c4aeeac80a3.png">

<img width="721" alt="Captura de pantalla 2022-01-10 a las 11 57 40" src="https://user-images.githubusercontent.com/22507864/148755784-2fedd0b5-a1d4-4c1f-8fce-c

[2022-01-10 12:18] mukulshakya commented on #107
Hey @sepu85 @sirpy i couldn't find test faucet for fuse. Can you help?

[2022-01-10 12:27] mukulshakya commented on #80
Hi @sepu85 Please tag me after finalizing the details. Thanks

[2022-01-10 12:36] womaninblockchain commented on #94
Ok @sirpy .
@imanshu03

[2022-01-10 13:04] mukulshakya commented on #80
@sepu85 i thought there is some discussion going on on finalizing the message.

I'll refer to the #80, thank you

[2022-01-10 13:07] L03TJ3 commented on #80
@mukulshakya I was just trying to determine what had been done yet!
was not necessarily trying to open up a discussion about the message itself.

[2022-01-10 13:12] mukulshakya commented on #107
This is what i can see RN
![image](https://user-images.githubusercontent.com/34328275/148771558-3f1032c6-4145-4fcb-b57d-a378ec15cc9c.png)

[2022-01-10 13:15] L03TJ3 commented on #80
@sirpy I haven't pinned down the specific component yet, but it should be existing in sushiswap-interface somewhere.
It might be just the Alert component. but I am building locally now to make sure

[2022-01-10 13:20] sepu85 commented on #107
you are the dev @mukulshakya , not me, I can't say why you don´t see that option, but it should be there!

maybe @sirpy can tell you something

[2022-01-10 14:55] imanshu03 commented on #94
@sirpy Refresh is already happening when user comes to the tab or any TX happens
All the requirements excluding portfolio are already taken care of in our code
If you want I can add a refresh at component unmounting ? If not so then there is no dev required for this ticket

[2022-01-10 15:51] imanshu03 commented on #94
@sirpy Refresh already happens after user performs a TX. I'll add the logic to refresh when user comes back to the tab

[2022-01-10 19:53] L03TJ3 commented on #99
@sirpy

So, I have now tested this across the board. Both fi-qa and goodSwap.
And locally from develop > production.
For me, it works whenever I switch accounts/switch networks. It shows the amount of G$/GDX/GOOD I have or don't have.
also in code, it seems to get all the right token contracts per network/env.

Was there a specific env you were on? switching to a specific network?

Small note is t

[2022-01-11 09:20] L03TJ3 commented on #80
If we would build in the pending/confirmed transaction toast notification.
Only for staking for now?
Or should I look into doing it for all transactions (so swapping etc)?

[2022-01-11 14:05] YpetrovAJ commented on #113
@sirpy

can you check the design for dashboard [here](https://www.figma.com/file/qQnLAqI49HHbvHr1o1xD1a/GoodDollar?node-id=0%3A1)?

[2022-01-11 19:10] sirpy commented on #113
@YpetrovAJ
These are the current list of sources. every source can hold multiple assets.
The reserve - currently holds only cDAI
Donations contract - currently holds (eth + DAI) and LP tokens staked in GoodStaking by this contract
Community pool - currently holds G$

[2022-01-11 19:50] sirpy commented on #92
@womaninblockchain @mukulshakya
this isnt fixed in SWAP when using mainnet (ethereum)
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/86b2cdd5-9f0a-411d-b6cc-147f09a24d62)

[2022-01-11 19:55] sirpy commented on #108
@imanshu03 on mainnet (production) things doesnt seem to be working as expected
1. gdx is always "-"
2. price impact doesnt seem correct. in the image you see price is 5702 per dai and current price in reserve is around 0.17 for 1000 = 1000/0.173 = 5780
the price impact is 1 - 5702/5780 = 1.4%
3. G$ icon is missing
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/76bcd9ac

[2022-01-11 20:16] sirpy commented on #108
@imanshu03 i've pushed a fix to master for gdx + price impact
please verify

[2022-01-12 05:12] imanshu03 commented on #108
@sirpy I believe the price impact is wrong for buying. Please refer the screenshot
![Screenshot 2022-01-12 at 10.40.38 AM.png](https://images.zenhubusercontent.com/61925bd4897d42d4514e110d/ccee2661-1881-4a7c-a95d-761e9ea0d7d0)

[2022-01-12 05:41] L03TJ3 commented on #80
@sirpy has it been a choice to not put full transaction details (recent transactions) in redux store? (for now only: time / from / hash)

[2022-01-12 07:03] L03TJ3 commented on #80
NVM!
I think I see that it just hasn't been fully utilized yet

[2022-01-12 08:39] YpetrovAJ commented on #113
@sirpy

just to double check

The reserve, Donations contract and Community pool are the sources and each of these sources can hold multiple assets (which are crypto) am I right?

so now we can make design with assets on your comment, but they can be another one, am I right?

[2022-01-12 14:47] YpetrovAJ commented on #81
we've made claim rewards as the check box, it seems for us to look like better on the UX side, can you check it [here](https://www.figma.com/file/qQnLAqI49HHbvHr1o1xD1a/GoodDollar?node-id=31%3A463)?

[2022-01-12 15:31] YpetrovAJ commented on #112
Could you please clarify what should we do there directly? or give us some steps?

@sirpy

[2022-01-12 15:43] imanshu03 commented on #92
@sirpy The Image URL set for G$ Logo in Mainnet does not exist :- https://raw.githubusercontent.com/trustwallet/assets/tree/master/blockchains/ethereum/assets/0x4738C5e91C4F809da21DD0Df4B5aD5f699878C1c/logo.png

That is why we are not able to see G$ Logo. Please tell me the URL from where we can fetch the G$ logo

[2022-01-12 19:25] sirpy commented on #108
@imanshu03 so just fix it dont assign it to me

[2022-01-13 12:02] YpetrovAJ commented on #77
can you check the task [here](https://github.com/GoodDollar/GoodProtocolUI/blob/develop/.github/workflows/dev_deploy_release.yaml) pls?

@sirpy

[2022-01-13 12:58] sepu85 commented on #112
@YpetrovAJ swapping from protocol UI connect to two different markets, with different dynamics and prices.

When connected to Ethereum, the UI interacts with the GoodReserve AMM (current price on nav bar is ok), so we'd like to add a GoodReserve logo (we don´t have it ready) there.

But when connected to Fuse, we interact with a third party market, FuseSwap market, it has a different price (so cha

[2022-01-13 12:59] sepu85 commented on #112
![image](https://user-images.githubusercontent.com/22507864/149334672-847c7539-878e-4407-b442-8cbbc974fa1f.png)

[2022-01-14 09:18] Devartjoker opened #118 "read treedata from ipfs, generate merkletree and proof"

[2022-01-14 09:18] #118 closed

[2022-01-14 10:50] YpetrovAJ commented on #112
Fuse swap - [here](https://www.figma.com/file/qQnLAqI49HHbvHr1o1xD1a/GoodDollar?node-id=41%3A2460)

Goodreserve swap - [here](https://www.figma.com/file/qQnLAqI49HHbvHr1o1xD1a/GoodDollar?node-id=56%3A1225)

@sepu85 @sirpy

[2022-01-14 13:09] sepu85 commented on #112
this is good! @YpetrovAJ

please remember also that FuseSwap G$ price should be read from the right source!

[2022-01-16 10:01] sirpy commented on #112
@sepu85 @YpetrovAJ
the "Swap" prefix looks strange, lets either remove it or change to "Swap On"
regarding price, the url is irrelevant, it should be done via existing available code.

@sepu85 My thought is that we should display both prices all the time
ie
reserve: 0.17
fuseswap: 0.2

[2022-01-16 10:32] sirpy commented on #107
@mukulshakya check your console log for errors
maybe the kovan rpc is exhausted use a custom one... register on infura or something

[2022-01-17 11:16] YpetrovAJ commented on #113
need a clarification about system parameters section here (information, content and so on)

@sirpy @sepu85

[2022-01-17 11:55] YpetrovAJ commented on #77
https://github.com/GoodDollar/GoodProtocolUI/pull/120

[2022-01-17 12:05] sepu85 commented on #113
let's put this in the pypeline!

[2022-01-17 14:32] L03TJ3 commented on #93
@annastone-86 Hi, so.. you say it didn't work at all right? what wasn't working exactly for you? As on my end, it does work.... though really wonky... that I admit :)

@devs
anyone knows why on fi-qa coinbase wallet doesn't pop-up at all? (locally and goodswap act for me the same tho..)

Second:
what is the required solution?
It seems an active issue in web3-react:
https://github.com/NoahZinsmeist

[2022-01-17 14:36] L03TJ3 commented on #73
Is someone able to clarify what is needed for this?

[2022-01-17 14:41] L03TJ3 commented on #61
Should/Could this be added to the Airdrop UI
or you were thinking of an extra page in protocolUI for these steps?

[2022-01-17 20:24] sirpy opened #121 "User should see amount being swapped in waiting for confirmation modal"
Modal shows price it should show the amounts
https://user-images.githubusercontent.com/22507864/148755784-2fedd0b5-a1d4-4c1f-8fce-c11747f76521.png

[2022-01-17 20:24] sirpy commented on #121
@sepu85 can you clarify what is the exact data/message user should see?

[2022-01-17 21:05] sirpy opened #122 "token list for fuse swap should be taken automatically from fuseswap"
- [ ] Take token list directly from uniswap/fuseswap sdk
- [ ] find out if it is possible to take directly from their github repo dynamically (I think in our code some lists are already read dynamically)

[2022-01-17 21:13] patpedrosa commented on #107
<img width="1603" alt="Screen Shot 2022-01-17 at 18 10 34" src="https://user-images.githubusercontent.com/49105975/149837456-96830546-afea-44da-b5ee-feb16e41ea28.png">

Looks to me like a decimal issue. Ran that g$ value through the swap and it amounts to ~4.00 USD.

[2022-01-18 10:56] sirpy commented on #61
Preferably it should be done here and not on Airdrop UI

[2022-01-18 17:17] patpedrosa commented on #80
![Screen Shot 2022-01-18 at 13 48 11](https://user-images.githubusercontent.com/49105975/149984941-f67d7289-4901-4545-aeb1-85771151313c.png)

"You need to sign the transaction" is confusing because the signing happens before this modal shows. I've done this twice now - and both times I signed before this screen.

Also, I think we need to switch the copy to an affirmation:
"  **Congratulations!**
Y

[2022-01-19 11:24] sepu85 commented on #121
IDK, I think it's ok as it is. I mean, the amount being swapped is shown correctly (0.1 ETH and 1819292.38 G$) while showing below the price.

In case we want to improve this UX, I suggest to do what SushiSwap does, add a double arrow button so user can see the price in both directions (G$ price in ETH OR WTH price in G$)
<img width="698" alt="Captura de pantalla 2022-01-18 a las 13 41 09" src="ht

[2022-01-19 15:45] L03TJ3 commented on #80
![image](https://user-images.githubusercontent.com/6606028/150163583-2753b96b-0886-4b1d-bb51-2683f1003a2e.png)

@sepu85 @patpedrosa you both had a say about the text

which one would you guys prefer?

@patpedrosa funny thing, the padding now is actually the same ;)
but it doesn't seem like it cause of round borders so I did change it
and yes, the bottom text of the signing shouldn't be there anymo

[2022-01-20 12:36] patpedrosa opened #123 "[BUG] Cropped GA Dashboard embed"
**Bug Description**
When you click on the dashboard, it loads the Trust Fund page and it seems like the first load sets the viewport. As you navigate to a different page, the charts that cross the threshold set by Trust Fund are cropped and unreadable.

**Steps to Reproduce**
1. Go to Dashboard
2. See Trust Fund page
3. Navigate to Token
4. Fail to see beyond the title "Value in reserve"

**Expect

[2022-01-20 23:18] L03TJ3 commented on #80
So, if the discussion is now closed for the wording?
I now went with the first image posted as pending text. The second one as confirmed.

@sepu tho I changed your wording slightlyyyy... if you don't mind... :)
Your staking transaction for generating UBI for thousands... >
Your staking transaction which will generate UBI for thousands...
(to remove the double for)

also DID add the hover effect fo

[2022-01-20 23:39] L03TJ3 commented on #123
This has to be changed in the data studio itself, I don't know where it's managed...
but it is not part of this repository

[2022-01-21 10:10] sepu85 commented on #80
all good from my side!! I'm also ok with Pat's suggestion.

[2022-01-21 10:11] sepu85 commented on #107
@YpetrovAJ please prioritize solving this issue!

[2022-01-21 10:49] YpetrovAJ commented on #107
I'll send the PR soon, dealing with it right now @sepu85

[2022-01-21 10:55] sepu85 opened #126 "Add suggestions for social Media shares after succeeding with Swap and Stake transactions"
**Is your feature request related to a problem? Please describe.**
GoodDollar is a Social Impact investment protocol, so let's push to make investor actions more social.

**Describe the solution you'd like**
After swapping and staking (both GoodStakes and GoodDAO stakes) let's add a pop up window where we suggest user to post this action on social media (twitter & facebook are a must! Instagram St

[2022-01-21 11:30] sepu85 opened #127 "G$ logo is missing when swapping in Ethereum Network"
**Bug Description**
G$ logo is missing when swapping in Ethereum Network

**Steps to Reproduce**
1. Go to Swap
2. Connect to Ethereum Network
<img width="725" alt="Captura de pantalla 2022-01-21 a las 12 30 18" src="https://user-images.githubusercontent.com/22507864/150519804-ab9390c7-4025-47f1-946d-fd0be0d06d56.png">

**Expected Behavior**
The same G$ logo that appears on Fuse Network should appe

[2022-01-21 18:41] L03TJ3 commented on #99
Old comment is not relevant, a new update has broken this again (at least for fuse)

[2022-01-22 21:45] L03TJ3 commented on #99
Yee, waste of time, I stick to my initial comment

on fi-qa and locally in other env's then production it's quite understandable it doesn't update balance if you don't have tokens from those contracts

[2022-01-22 22:32] patpedrosa commented on #123
What do you mean by "this"? Dashboard loads correctly when accessed directly via http://dashboard.gooddollar.org/.

[2022-01-23 09:30] #99 closed

[2022-01-23 11:15] sirpy commented on #127
fixed

[2022-01-23 11:21] L03TJ3 commented on #123
@patpedrosa
What I meant is that the issue DOES happen also when I directly go to the link, or to dashboard.gooddollar
and it didn't seem to solve anything for me when I loaded up the token page as first

at least on my screens (1920x1080) it always pushes the digits over each other on the token page

so to me, it seemed like a data-studio styling issue, which can only be changed in the document i

[2022-01-23 12:11] sirpy commented on #123
@L03TJ3 i fixed it. please test

[2022-01-23 12:37] L03TJ3 commented on #123
![image](https://user-images.githubusercontent.com/6606028/150678699-f8c7eb52-8996-4230-9081-74c9d045a10c.png)

if it is live on fi-qa, it's still the same
if I should test master locally? then I'll get back on this

[2022-01-23 12:51] L03TJ3 commented on #123
yes, sirpy fixed it

[2022-01-23 15:17] patpedrosa commented on #123
@L03TJ3 Looking at the wrong bug

This is what I reported, not the overlapping percentages:
<img width="815" alt="Screen Shot 2022-01-23 at 12 17 06" src="https://user-images.githubusercontent.com/49105975/150685447-566ad58c-24ac-4057-a3c1-48fe1654fead.png">
:

[2022-01-23 15:19] patpedrosa commented on #123
@sirpy Thanks, it's fixed on prod.

[2022-01-23 15:19] #123 closed

[2022-01-24 07:08] YpetrovAJ commented on #126
@sepu85 need to create the design here first of all, am I right?

[2022-01-24 08:39] #78 closed

[2022-01-24 08:40] sirpy commented on #126
@YpetrovAJ yes please start with a design

[2022-01-24 09:50] sepu85 commented on #127
it's not fixed on goodswap.xyz yet, can we agree on a process to update changes on the community deployed UI, please?

[2022-01-24 20:21] sirpy commented on #127
@YpetrovAJ lets discuss that on our call next week

[2022-01-25 11:17] sepu85 commented on #61
hey adding here some design requirements, not sure this is the right place tho!

- [ ] User should see total GOOD tokens
- [ ] User should see how much % of total GOOD tokens he/she owns.

[2022-01-26 12:54] patpedrosa commented on #107
Is this fix live on prod? I'm seeing this still:

<img width="1052" alt="Screen Shot 2022-01-26 at 09 53 18" src="https://user-images.githubusercontent.com/49105975/151166313-568e2bbc-0872-45fa-8c93-00b482219136.png">

[2022-01-27 09:19] YpetrovAJ commented on #126
can you provide for us some references for templates for Twitter or Facebook sharing? we'll create the separate for each social media

@sirpy @patpedrosa

[2022-01-27 11:03] sepu85 commented on #126
hey @YpetrovAJ after the transaction is submitted you should add to the success message a message to share on social, placing social media buttons (image below is kovan fi-qa version or see issue #80 for further reference)

<img width="554" alt="Captura de pantalla 2022-01-27 a las 11 56 31" src="https://user-images.githubusercontent.com/22507864/151345514-3490d6cb-9eea-4742-8eb2-99d30c04733f.png"

[2022-01-27 16:42] YpetrovAJ commented on #126
[here](https://www.figma.com/file/qQnLAqI49HHbvHr1o1xD1a/GoodDollar?node-id=110%3A1210) you can check the design

we've also added the templates for stacking and swapping in the social media (you can see it below)

@sirpy @sepu85

[2022-01-27 18:59] annastone-86 commented on #126
It should include default messaging:

"I just used my crypto for good to help fund crypto UBI for all with GoodDollar!"

[2022-01-27 19:44] sepu85 commented on #126
@YpetrovAJ regarding Anna's feedback, please include it in the first pop up, I mean:
<img width="228" alt="Captura de pantalla 2022-01-27 a las 20 40 46" src="https://user-images.githubusercontent.com/22507864/151431721-f3e6b4db-c63c-40d8-adfb-899d483118e8.png">

So just below Swap Completed, please include @annastone-86  suggestion, I rather say "You" instead of "I", so:

"You just used your cryp

[2022-01-28 15:07] YpetrovAJ commented on #126
done

[2022-01-30 11:51] sirpy commented on #121
@sepu85 i attached the wrong image
this is the correct one
https://user-images.githubusercontent.com/22507864/148755784-2fedd0b5-a1d4-4c1f-8fce-c11747f76521.png

[2022-01-30 21:27] sirpy opened #129 "User should be able to donate his staking rewards"
When staking to trust fund there should be a toggle button that allows user to donate his yield and not receive rewards.
Also we should display out of total staked how much is donated.

Definition of Done
- [ ] "donate yield"  toggle button when staking in trust fund
- [ ] an info icon and tooltip saying "You can choose to not receive G$ rewards, completely donating the yield your staked funds are

[2022-01-31 13:57] sepu85 commented on #121
I'm lost @sirpy , could you clarify what do you need from me?

[2022-01-31 15:13] sirpy commented on #121
@sepu85 this is regarding your comment in issue #108
see here
https://app.zenhub.com/workspaces/protocol-ui-team-61559a6a33275e00141f8ee4/issues/gooddollar/goodprotocolui/108#issuecomment-1008766806

[2022-02-01 13:41] sepu85 commented on #121
got it! yeah, as you said, it currently shows price when it should show the amounts, so I propose the following message:

*Swapping `X amount` `[Origin token]` per `Y amount` `[Destination Token]`*

see that *per* is in lowercase

[2022-02-01 14:47] artqadev commented on #107
Hi there :)
Looks like fixed:
![image](https://user-images.githubusercontent.com/98735241/151990238-caec1e71-2f7c-4d79-ad86-f3ea34c16849.png)

[2022-02-01 15:48] sirpy commented on #107
yes, we will update prod

[2022-02-01 21:01] Devartjoker commented on #92
Icons changed everywhere except for a couple of compound tokens on mainnet, for which I could not find corresponding icons. I was searching on https://tokenlists.org/ in every list possible.

[2022-02-02 07:06] sirpy commented on #92
@Devartjoker which tokens?

[2022-02-02 11:30] sepu85 opened #131 "mark USDC staking option as "Temporally Unavailable""
After launching GoodDollarV2, @sirpy realized there was a bug in the USDC Aave staking smartContract that was preventing staker to get their G$ rewards.

While we launch the new smartContract, it is convenient to bring some clarity to users about why the stake button is unavailable.

So request here is to change text button (Aave USDC staking option) from `STAKE` to `Temporally unavailable`

[2022-02-02 12:23] L03TJ3 commented on #131
![image](https://user-images.githubusercontent.com/6606028/152152933-ed66b7dc-0bf1-46f8-8c14-f9956b0e5e92.png)

idea to make the button red & disabled?

[2022-02-02 12:29] sepu85 commented on #131
I find red color unnecessary here, please let the the current disable status with faint blue.

[2022-02-02 12:31] L03TJ3 commented on #131
Okay! is fixed now

[2022-02-03 08:40] sirpy commented on #92
@Devartjoker
We dont need these tokens in the Swap.
Where are they loaded from to begin with?

[2022-02-03 20:19] sirpy opened #133 "Update to staking contracts V2"
The old staking contracts had a bug, we are replacing with new contracts.
One of the old staking contracts will still be shown but will be inactive, no new deposits.

- [x] update to latest goodprotocol package
- [x] new staking contracts should now be read from deployment.json from key `StakingContractsV2`
- [x] new staking contracts have a new ABI `SimpleStakingV2`
- [x] variables that previousl

[2022-02-07 06:58] #85 closed

[2022-02-07 06:58] #79 closed

[2022-02-07 06:58] #77 closed

[2022-02-07 06:58] #53 closed

[2022-02-07 06:58] #71 closed

[2022-02-07 07:11] sirpy commented on #112
@sepu85 to write explanation texts
@YpetrovAJ need from the designer a place for text.

[2022-02-07 07:13] sirpy commented on #131
replaced by new staking contracts

[2022-02-07 07:13] #131 closed

[2022-02-07 07:27] sirpy commented on #126
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/7e0b5096-a061-460e-a020-b3dea9fb3611)

[2022-02-07 07:28] sirpy commented on #126
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/1a9049ea-2295-436a-a285-cb2855b47983)

[2022-02-07 08:05] L03TJ3 commented on #80
Current Production Bugs:
![image](https://user-images.githubusercontent.com/6606028/152748525-90f59941-17b9-43e1-9cac-0e16601d18fa.png)

![image](https://user-images.githubusercontent.com/6606028/152748628-efc7a2b2-1bd9-4319-964a-0a235f185423.png)

[2022-02-08 12:38] artqadev commented on #92
Hi @Devartjoker

----Dev env----
**General:**
Can't find any icon in portfolio page
**using FUSE:**
GDX token (not only icon) is absent in wallet balance and in import to metamask popup window
**using Ethereum (mainnet):**
in Swap -> Select token -> there is no G$X token's icon

----STG env----
All listed above included
AND
**using Ropsten:**
in Swap -> Swap to -> there is no G$ token's icon
in Sw

[2022-02-09 11:13] #107 closed

[2022-02-09 13:12] YpetrovAJ commented on #83
@sirpy check the pr here, it's a draft if everything is okay we'll create the right one

[2022-02-09 19:19] artqadev commented on #98
Hi everyone :)
Verified, e.g.:
![image.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/bf367cee-4392-4457-a4ae-bb935051acc9)

Thank you!

[2022-02-09 19:55] artqadev commented on #108
Hi everyone :)
This seems to be fixed:
![image.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/a6cfc567-4d50-405e-b267-4c5f65264030)
But @sepu85 can you please tell me if it has already been fixed (something changed)? 'Cause it seems like not:
![image.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/32cd4878-d9ad-488c-bb9b-4c6b2dd57c5b)
Correct me if I'm wrong,

[2022-02-09 20:52] #90 closed

[2022-02-09 20:53] #108 closed

[2022-02-09 21:47] #80 closed

[2022-02-10 21:18] sirpy opened #142 "Architecture for protocolui components"
- [x] export the gd sdk to a package
  - are env variables available in packages a react app uses? for example our REACT_APP_NETWORK, probably need solution for that
- [ ] ui package
   - [x] default nativebase theme with current G$ colors/fonts
   - [x] core components folder(buttons etc)
   - [x] advanced components folder (hold multiple core components)
   - [ ] pages folder
   - [ ] hooks fold

[2022-02-14 06:31] #37 closed

[2022-02-14 06:31] #133 closed

[2022-02-14 06:31] #88 closed

[2022-02-14 06:32] #95 closed

[2022-02-14 06:32] #91 closed

[2022-02-14 06:34] #94 closed

[2022-02-14 06:37] sirpy commented on #112
@YpetrovAJ @Devartjoker see texts in previous comment
also use new "voltage" logo instead of fuseswap. see app.fuse.fi

[2022-02-14 09:46] L03TJ3 opened #144 "Replacement transactions are not handled in the pending/confirmed cycle"
**Bug Description**
as noticed by pat.
![image](https://user-images.githubusercontent.com/6606028/153835101-802c0642-7fc1-4d26-8f89-f9ac55897237.png)
![image](https://user-images.githubusercontent.com/6606028/153835416-cfdeba6a-ebb6-4dc0-ac06-839cbcb8aeac.png)

replacement tx make the pending cycle of the initial tx stuck on pending forever

**Steps to Reproduce**
1. Make transaction (swap / stake

[2022-02-14 12:33] artqadev commented on #83
Hi everyone :)
Verified.

Thank you!

[2022-02-14 13:13] artqadev commented on #127
Hi everyone :)
Verified, e.g.:
![image.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/2f08346b-fb85-44bb-b55a-cfcf378a8783)

Thank you!

[2022-02-15 07:11] sirpy commented on #83
@Devartjoker instead of withdraw into interest token it should say
"Withdraw as ${iToken.symbol}"
meaning it should read the symbol of the interest token (iToken). for example "Withdraw as cDAI" and "Withdraw as aUSDC"

[2022-02-16 08:06] sirpy opened #145 "(chore) install two flags on cloudflare workers"
follow instructions here: https://github.com/twoflags-io/twoflags-api
resolver domain: twoflags-resolver.goodworker.workers.dev
api domain: twoflags-api.goodworker.workers.dev

**no need for zone_id/route in toml config file use above domains**
- [ ] using wrangler cli install on our cloudflare, creating necessary kv stores and all configurations
- [ ] demo the API on swagger editor (they use open

[2022-02-16 08:28] sirpy opened #146 "(chore) install ceramic node on a VPS"
See instructions
https://developers.ceramic.network/run/nodes/nodes/#required-steps

## V1
- [x] use docker
- [x] make sure ports are open
- [x] demo

## V2
- [x] backup solution - connect ceramic with s3 + enable vultr snapshots
- [x] monitoring (using our alibaba cloud monitoring)
- [x] make sure everything starts on vps restart
- [x] make a PR to join the network

[2022-02-16 21:49] sirpy opened #148 "(Chore) verify minReturn values are correct for front running protection"
- https://etherscan.io/tx/0x9760b7dedcbfbc37e6feb491a9bdf33c98c99d8d339fde49f2c3e97828cd4b6b
- This transaction for a large eth amount was front run.
- You can see in the input params to the buy method that the values for minDAI and minG$ are incorrect (minDAI should be 0.1-0.5% away from the eth price)
- when entering a large amount of eth in swap ie (70+) the expected min G$ amount is correct

T

[2022-02-17 07:14] sirpy commented on #148
@L03TJ3 i've verified things are working properly.
need to fix the price impact

[2022-02-17 11:53] sirpy opened #149 "(Bug) uniswap routing and price impact seems incorrect"
When wanting to swap on mainnet WBTC to G$ the path shows:
WBTC -> ETH -> DAI and price impact of >1%
This doesnt make sense as a direct route for WBTC->DAI should exists and make more sense
Also when swapping 0.5 WBTC->DAI on uniswap V2(which is what we use) the price price impact is only 0.06%
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/b733c552-8495-47e4-998b-f20a

[2022-02-18 09:28] sirpy opened #151 "Staking with G$ on mainnet and fuse earning G$ rewards"
- [ ] Upgrade StakersDistribution -> StakersGOODDistribution
   - can we modify it so GOOD rewards are updated after each deposit and not once per month? (that would require to update all contracts cumulative rewards so far.
  - what would be the gas cost effect of doing that on stake/withdraw operations?
- [ ] Upgrade GovernanceStaking -> GoodDollarStaking - update to also accrue rewards paid in

[2022-02-18 14:58] Devartjoker commented on #122
@sirpy From what I could find, fuseswap and uniswap are themselves using the files that we refer to. If the behaviour we have at the moment is not what we want, please tell me what should be fixed in more detail.
<img width="1038" alt="image" src="https://user-images.githubusercontent.com/97535045/154706292-ec779a84-f7ad-4a5d-9a11-bb543bb9c0cc.png">
<img width="1187" alt="image" src="https://user-

[2022-02-20 09:28] #122 closed

[2022-02-20 13:33] #93 closed

[2022-02-20 13:33] #148 closed

[2022-02-20 13:49] sirpy opened #152 "(Bug) User unable to sell G$ to ETH if not enough GDX"
This is probably due to the expected min return
- [ ] make sure the exit contribution is taken into account

[2022-02-21 07:08] #152 closed

[2022-02-21 07:11] sirpy commented on #112
@YpetrovAJ
take the latest logo from app.fuse.fi

[2022-02-21 07:14] sirpy commented on #149
@YpetrovAJ this is high priority

[2022-02-21 07:55] L03TJ3 commented on #144
Todo's based on expected behavior:
1. Fix the stuck pending indicator because it polls for a transaction that is never completed
--- simple fix in state/transactions/updater should be enough I guess
2. if it's possible to find the replacement tx, add it to the list
--- potentially not possible

[2022-02-21 08:44] L03TJ3 opened #154 "Build bitdev demo"
# Description
As a proposal for using bitdev as an environment for building our component library, a demo environment will be built to display certain possibilities and potentials of what it could offer.

!update: we will start with a regular workspaces mono-repo, potentially moving it to bitdev in the future
requirements are unchanged

The following points will be reflected:
- A few simple UI com

[2022-02-21 08:45] L03TJ3 commented on #142
- [ ] https://github.com/GoodDollar/GoodProtocolUI/issues/154

[2022-02-21 08:56] sirpy commented on #144
@YpetrovAJ see expected behaviour and DOD in issue description

[2022-02-22 11:52] patpedrosa opened #155 "Top nav bar hidden on mobile browsers, bottom bar misbehaving"
**Bug Description**
The top nav bar is hidden under safari's top nav on some mobile browsers

**Steps to Reproduce**
1. Go to goodswap.xyz using your phone
2. Try to switch to a different tab
3. Fail to find the top nav bar :)

I managed to reproduce this on Safari at first, but it's now working. A user (report in the comments) reproduced this in multiple browsers, including metamask's.

**Expecte

[2022-02-22 19:00] patpedrosa commented on #155
User report:

![IMG_4368](https://user-images.githubusercontent.com/49105975/155200394-8fe6308d-bbf5-4537-912a-8d0f184e094f.PNG)
![IMG_4369](https://user-images.githubusercontent.com/49105975/155200390-89f54a54-9d06-4a39-bf7f-0f58b8b31c9d.PNG)
![IMG_4370](https://user-images.githubusercontent.com/49105975/155200368-59b931e7-e09b-4bad-bc8e-c5220256da33.PNG)

[2022-02-23 10:25] YpetrovAJ commented on #146
We've done all that things

Should we do there anything else?

@sirpy

[2022-02-27 01:13] L03TJ3 commented on #155
@patpedrosa I added a short-time fix so that at least the navbars work on all mobile browsers

Then only a question remains
Below is illustrated what happens, and what is expected solely based on the code:
![image](https://user-images.githubusercontent.com/6606028/155864088-12d83181-83f7-431f-b1f7-7490cfaf0720.png)

just to clarify this beautiful picasso
what now happens is, the top bar pushes eve

[2022-02-27 06:59] sirpy commented on #155
@L03TJ3 always look at sushiswap/uniswap for how things are expected to work in terms of UI

[2022-02-28 13:32] L03TJ3 commented on #149
Verified that the calculations are correct!

[2022-02-28 13:33] L03TJ3 commented on #155
I am going to create a general issue for mobile, the navbars are fixed for now

[2022-02-28 13:57] L03TJ3 opened #157 "General mobile UI issues"
**Issues Description**
- [x] - General responsiveness problems (Staking / Portfolio Tables) (Priority)
- [x] - (IOS) top navbar gets pushed outside of screen after filling in swap amounts / actually swapping
- [x] -  Swap balances should be shown outside of the input box

**Additional Context**
Tested on Android v11, chrome browser / desktop chrome with device toggle
IOS 15.3.1

Example for stake

[2022-02-28 14:02] L03TJ3 opened #158 "Wallet Connect issues"
**Bug Description**

- [ ] - 0. **PRIORITY** Currently, when connecting with wallet-connect to desktop, nothing is able to load (see screenshots)
- [ ] - 1. **PRIORITY** Wallet connect unable to get network on production

- [ ] - 2. Approval/Confirmation isn't always sent to the connected wallet
- [ ] - 3. Local storage is not always emptied after disconnect, and the user becomes unable to connect

[2022-03-02 08:06] sirpy commented on #158
@L03TJ3 can you describe the flows to reproduce those issues?

[2022-03-02 08:08] #149 closed

[2022-03-02 10:05] L03TJ3 opened #159 "MM Browser can't open Fuse directly"
**Bug Description**
When your mobile MetaMask wallet is connected to Fuse, it cannot (always) open goodswap.xyz with the app browser

**Steps to Reproduce**
1. Close all existing tabs in MM
2. Restart the MM app
3. Set network to Fuse
4. Open browser and go to goodswap.xyz
5. Error 'We couldn't resolve that ENS name (see screenshot below

**Expected Behavior**
You should be able to access goodswap

[2022-03-07 10:06] sirpy opened #160 "Update to Staking Contracts V3"
- [ ] update to latest goodprotocol
- [ ] in stake page show only v3 contracts and enable staking
- [ ] in portfolio page show all contracts v1+v2+v3 user still has a stake in

[2022-03-08 14:09] L03TJ3 opened #163 "Add blocknative"
### **Description**
Wallet connect and web3-react has a variety of issues, why we will look into adding blocknative as a solution for connecting wallets

### **Proposed Changes**
- [x]  Install as a base start @web3-onboard/core @web3-onboard/react @web3-onboard/common @web3-onboard/injected @web3-onboard/walletconnect
- [x]  Add onboard react-hooks
#reference -- https://docs.blocknative.com/onboa

[2022-03-08 21:25] #155 closed

[2022-03-09 06:21] sirpy opened #164 "User with stake in old staking contracts should see a message"
- [ ] explain they no longer earn rewards
- [x] Ask user to withdraw his stake
- [x] In the portfolio highlight somehow the inactive contracts

[2022-03-09 06:22] sirpy commented on #164
@patpedrosa your input for message + how to mark those contracts

[2022-03-10 08:39] admin-artjoker commented on #146
PR - https://github.com/ceramicnetwork/peerlist/pull/68

[2022-03-10 09:56] sirpy commented on #163
@L03TJ3 also need to replace usages of useWeb3React

[2022-03-10 15:16] #92 closed

[2022-03-14 15:22] L03TJ3 opened #165 "Enable Governance Staking"
[ ] - Update @gooddollar
[ ] - Enable staking with new contract
[ ] - show on portfolio both v1 / v2 gov stakes

[2022-03-17 11:21] #165 closed

[2022-03-17 11:21] #164 closed

[2022-04-07 11:51] sirpy opened #168 "(Bug) wrong UX for GoodDAO staking"
![Screen Shot 2022-04-07 at 14.46.45.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/49391e6a-3ba3-4499-90b1-90ef6e648cd2)

- [x] no need for the toggle button "withdraw as G$", it always withdraws as G$
- [x] text about multiplier is irrelevant

[2022-04-08 19:33] L03TJ3 opened #169 "'Failed to fetch multicall chunk' after switching chains several times"
**Bug Description**
An error occurs after several times switching chains where the switched network is detected, but the request data
is not updated accordingly so it tries to fetch data from the previously connected chain

**Steps to Reproduce**
1. Connect your wallet to the app
2. Switch chains a couple of times
3. console should show error shown in image below

**Expected Behavior**
The error s

[2022-04-08 19:44] L03TJ3 opened #170 "Error: PollingBlockTracker - after confirming swap with Coinbase Wallet"
part of #163

**Bug Description**
After confirming a swap while using a CoinBase Wallet, it suddenly is unable to update to a new block-number
the initial swap goes through, but any consecutive attempts will fail/revert.

App is fetching the new block data successfully, and updates balances, etc.
Coinbase wallet itself keeps the transaction showing as pending

**Steps to Reproduce**
1. Connect wit

[2022-04-12 15:07] YpetrovAJ commented on #126
@sirpy which link should we share after swapping/staking? just a link for https://goodswap.xyz/#/swap or something else?

[2022-04-19 12:37] L03TJ3 commented on #158
I'll close this, as either the issues are defined in new ones / or will be solved by the new onboard update

[2022-04-19 12:37] #158 closed

[2022-04-19 12:39] L03TJ3 commented on #170
Status: currently awaiting response from coinbase team, as it seems to be an issue in their extension and using custom networks

[2022-04-21 18:25] L03TJ3 opened #173 "Bug: eagerly connecting does not work on mobile (onboard)"
**Bug Description**
When revisiting goodswap on mobile and there is a previously connected wallet found in localStorage,
the app reloads and empties localStorage instead of trying to connect

**Steps to Reproduce**
1. Go to goodswap.xyz (on mobile)
2. connect a wallet through wallet-connect
3. reload page
4. App reloads automatically a second time, and no connection is being made.

**Expected Beha

[2022-04-25 07:01] sirpy commented on #60
we claimed GDX automatically for entitled addresses

[2022-04-25 07:01] #60 closed

[2022-04-27 08:19] sirpy commented on #112
@1ucius @L03TJ3 @YpetrovAJ the text info texts needs spelling corrections and to say voltage swap instead of fuseswap

[2022-05-04 19:56] artqadev commented on #126
hi @sirpy

fi-dev confirm
![image.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/a229a3f5-3acc-48cd-9435-dbbf22f15432)
fi-qa is without social buttons (the popup didn't even change to "swap completed")
![image.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/32a75c6a-97d8-49a7-8c62-0c231fa8fe53)

[2022-05-06 18:22] artqadev commented on #163
Verified

FYI:
On **Change** nothing happens:
![change.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/3dbbefd1-7402-41d2-bddb-d6806759ca67)
![image.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/57dbd619-2e6b-40e3-8535-4b3d436c3db0)

[2022-05-06 18:49] L03TJ3 commented on #163
Good catch, will create a new issue for it

[2022-05-06 18:51] L03TJ3 opened #177 "Bug/Feature: changing account is not updated to onboard"
**Bug Description**
When a user clicks on its address for account details, the option to change accounts has not been updated to use onboard yet

FYI:
On **Change** nothing happens:
**Steps to reproduce**
![change.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/3dbbefd1-7402-41d2-bddb-d6806759ca67)
![image.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/57dbd6

[2022-05-06 19:35] L03TJ3 commented on #177
![image](https://user-images.githubusercontent.com/6606028/167205558-50aadad8-2c70-4cb4-8e63-950ecfe4cf91.png)

Example of onboard account-center enabled

Reference: [src/connectors/index.ts:](https://github.com/GoodDollar/GoodProtocolUI/blob/75ee0743138a5e42927d37b6eb5619caf4031a1e/src/connectors/index.ts#L141)

[2022-05-08 07:14] sirpy commented on #126
@artqadev fi-qa needs to be deployed, you guys have setup the flow in the past
@DmitryIlchenko

[2022-05-08 12:00] L03TJ3 opened #178 "Add pulling translations from CrowdIn"
**Description**
There is a CrowdIn environment set up for the translations.
https://crowdin.com/project/goodprotocolui

We have to add the integration with these catalogs.

[2022-05-09 13:30] DmitryIlchenko commented on #145
@sirpy
We figured it out but we couldn’t deploy because the problem is on the side of the code.

We can work with Cloudflare but we cannot deploy this code due to an unknown error on the code side. If you need to quickly do something and deploy it for this task, please provide us with access to Cloudflare.

[2022-05-11 21:21] #177 closed

[2022-05-15 09:06] sirpy opened #181 "(Devops) ensure servers monitoring on alibaba + status page"
Make sure we monitor the following servers on alibaba
- [x] ceramic
- [x] facetec-prod
- [x] fuse validator

Use our betteruptime account to monitor:
- [x] ceramic endpoint
- [ ] facetec endpoint
- [ ] cloudflare sms verifier

[2022-05-15 09:07] sirpy commented on #181
@johnsmith-gooddollar any other services we need to monitor? any 3rd parties services?

[2022-05-16 09:21] johnsmith-gooddollar commented on #181
@sirpy ceramic dashboard (strapi)
goodceramic-(dev|qa-next).herokuapp.com/admin

[2022-05-17 10:23] DmitryIlchenko commented on #145
This task took longer than we expected because you didn't give access to Cloudflare. We don't understand why you didn't do it.

1. Here is the list of endpoints:
GET-/environments
POST-/environments
PATCH-/environments
DELETE-/environments
GET-/apikeys
POST-/apikeys
DELETE-/apikeys
GET-/flags
POST-/flags
DELETE-/flags
PATCH-/flags
POST-/flags/selectors
GET-/flags/selectors
DELETE-/flags/selectors

[2022-05-17 15:13] DmitryIlchenko commented on #181
@sirpy
Have a questions:
1. On Alibaba we see only ceramic (we added it there) and "facetech-prod". What is a fuse validator server? We need access to it in order to add it to Alibaba. Could you provide this information to us?

2. What is meant by cloudflare sms verifier? what is the task?

[2022-05-25 05:20] L03TJ3 opened #183 "Extend Google Analytics"
**Description**
Currently, we are only tracking page visits with GA. This needs to be extended to cover the following:
- [x] When someone clicks on the button "Claim UBI"
- [x] When someone clicks "approve" and also "swap"
  - [x] Collecting what they swap and the value will be a very good additional info.
- [x] When someone clicks on "stake"
   - [x] Collecting how much G$ they stake will be a ve

[2022-05-25 21:47] drptiago commented on #183
When someone clicks on the button "Claim UBI"
`dataLayer.psuh({'event': 'claim' action: 'claimUBI'})`

The event will be trigger when click in the button below:
![claim](https://user-images.githubusercontent.com/62208156/170372768-e2349176-bb68-4ca4-9328-d48d01c2279f.png)

[2022-05-25 21:55] drptiago commented on #183
When someone clicks "approve" and also "swap"

The events will be trigger in the flow below, onclick:

`dataLayer.push({'event': swap', action: 'approveSwap'})`
![approve](https://user-images.githubusercontent.com/62208156/170373121-be882330-7193-4da5-84b4-a2708184381e.png)

`dataLayer.push({'event': swap', action: 'swap'})`
![swap](https://user-images.githubusercontent.com/62208156/170373252-9313

[2022-05-25 22:03] drptiago commented on #183
When someone clicks on "stake"

The events will be trigger in the flow below, onclick:

`dataLayer.push({'event': 'stake', action: 'stake'})`
![stake (1)](https://user-images.githubusercontent.com/62208156/170374531-91a15568-c777-4a23-acd4-b082935f9f0a.png)

`dataLayer.push({'event': 'stake', action: 'approveStake'})`
![aprove stake (1)](https://user-images.githubusercontent.com/62208156/170374636

[2022-05-25 22:05] drptiago commented on #183
I added the images here to be more clear the desired behavior.

Be free to make suggestions or if you have any questions.

[2022-05-26 06:53] sirpy commented on #183
@drptiago i thought the reason we added the tag manager is so that you can capture those events yourself using css matching like so:
https://www.simoahava.com/analytics/capturing-the-correct-element-in-google-tag-manager/

[2022-05-26 10:51] drptiago commented on #183
We are successfully tracking some events in goodswap using GTM @sirpy  , but some events I can't track in Google Tag Manager because of the way the site is made ( react ).

This is the container who already have the events I can track directly in GTM without the data layer:
https://tagmanager.google.com/?authuser=1#/container/accounts/4420848896/containers/65741254/workspaces/10

[2022-05-26 14:18] sirpy commented on #183
@drptiago see on slack...

[2022-05-30 12:32] L03TJ3 commented on #126
Recheck flow of sharing:
1. find solution to show socials when submitted modal is closed before confirmation
2. doesn't always show up when doing a swap

[2022-05-30 18:54] artqadev commented on #157
Hi @L03TJ3
Again, I can see the changes on fi-qa, but not on dev. Is this expected or acceptable?

Thanks!

[2022-05-30 20:46] L03TJ3 commented on #157
Yes.
so what's on fi-dev currently is everything up to the new flow for connecting a wallet / social shares.
What's currently on fi-qa is all the styling updates after.

[2022-05-30 21:13] L03TJ3 commented on #157
to clarify.
Yes, it is expected currently. If it is acceptable is up to debate while we are refining the work-flow a bit :)

[2022-05-31 19:58] L03TJ3 commented on #126
Priority Fixes:
1. Copy button doesn't work in a live environment (does work local for me?)
2. Update copy text to copy icon (see slack)
3. Sharing socials don't show up for swapping transactions

[2022-06-02 06:59] sirpy commented on #145
@DmitryIlchenko please have the devops create a repo with the two-flags code + the configuration files
notice not to commit any secrets directly in the configuration files but use env variables

[2022-06-02 07:00] sirpy commented on #145
@johnsmith-gooddollar we have feature flags service we can use...

[2022-06-02 12:38] artqadev commented on #157
I am satisfied, just needed to clarify :)

TY!

[2022-06-03 05:49] L03TJ3 opened #187 "GDX information is shown outside scope"
**Bug Description**
When swapping on mainnet (or test-net), the GDX information is shown as a separate block.
this should be under its designated information icon

**Steps to Reproduce**
1. Go to /swap
2. set swap amount
3. gdx information shows besides swap screen

**Expected Behavior**
Both the gdx and exit contribution information should be with the respective information icon below the swap sc

[2022-06-03 13:59] L03TJ3 opened #188 "Add indicators that balance/swap amounts are loading"
**Bug Description**
Currently when a user navigates to goodswap and connects its wallet,
there are no indicators anywhere that certain parts (wallet balance/swap amount) of the application is loading data
it suddenly starts to display/pop-up after successfully being loaded

**Steps to Reproduce**
1. Go to goodswap.xyz
2. connect your wallet
3. It might take a few seconds to show wallet-balance
  -

[2022-06-06 11:41] imanov-elchin commented on #187
![image.png](https://images.zenhubusercontent.com/620d0858dd7f2f4a552b7a25/a288c767-3734-41fb-ac50-fd8f85181adc)

Also added tip icon to confirmation modal window

[2022-06-06 15:15] DmitryIlchenko commented on #145
@sirpy here is the repo https://github.com/GoodDollar/two-flags

Check it, please.

[2022-06-06 19:46] sirpy commented on #145
The repo should be forked from the original two flags, why is the README and INSTALL missing?

[2022-06-06 23:10] L03TJ3 commented on #188
Balance
![image](https://user-images.githubusercontent.com/6606028/172263809-681b5fb0-efd0-40f6-9d48-f244a5e48574.png)

Calculating swap amount
![image](https://user-images.githubusercontent.com/6606028/172263894-df700700-c884-4223-99f4-d51b63a148ce.png)

[2022-06-07 07:26] artqadev commented on #126
Hi @L03TJ3
Verified on fi-qa:
![swapshape.png](https://images.zenhubusercontent.com/61f900b1abe9693c0abd099b/6174ac48-6e08-4593-8c22-4b54a1bda5d1)
It looks good, but I'm not sure that the Copy button is actually clickable (works). Can you recheck it, please?

Thank you

[2022-06-07 10:00] DmitryIlchenko commented on #145
@sirpy
README and INSTALL added. The fork itself makes no sense to do. You want to make some edits and so on. If we make a fork nothing will work, the original code from this https://github.com/twoflags-io/twoflags-api does not work as it should.

Do you really need a fork after we added readme and install?

[2022-06-07 11:01] sirpy commented on #145
@DmitryIlchenko yes, all changes should be applied on the original fork, so changes that have been done are easy to see.

[2022-06-07 12:11] DmitryIlchenko commented on #145
@sirpy
pushed the separate branch https://github.com/GoodDollar/twoflags-api/tree/workable-stage
You can merge to master too.

Check it

[2022-06-07 13:45] johnsmith-gooddollar commented on #145
@DmitryIlchenko i've merged to **our** master to check actions. Now deployment fails (but it worked before)
please check.

about other stuff - everything is fine, good job, thanks!

[2022-06-07 13:52] DmitryIlchenko commented on #145
@johnsmith-gooddollar Tell me did you delete wrangler.toml on purpose or by accident?

[2022-06-07 13:54] johnsmith-gooddollar commented on #145
@DmitryIlchenko i just merged your branch to master by creating PR. maybe it was removed by the merge

[2022-06-08 13:47] sirpy commented on #145
@DmitryIlchenko this is very simple.
1. delete the repo you did
2. fork two flags repo
3. dev should apply his local changes/commits to the fork

please consult your CTO on how to do this properly

[2022-06-08 14:32] DmitryIlchenko commented on #145
1. We don`t have permission to delete this repository - https://github.com/GoodDollar/two-flags
2. Points 2 and 3 have already been done. Result is here - https://github.com/GoodDollar/twoflags-api

@sirpy

[2022-06-12 07:42] sirpy commented on #145
@DmitryIlchenko thanks

[2022-06-12 15:47] L03TJ3 opened #201 "Update UI for the Staking page"
**Description**
Update the UI of the staking page according to the visuals shared below

**Additional context**
Desktop (connected to FUSE)
![image](https://user-images.githubusercontent.com/6606028/173241377-5dc750ec-491b-48b4-8cb7-47fb2bb6e56e.png)
Desktop (connected to MAINNET)
![image](https://user-images.githubusercontent.com/6606028/173241384-27ab67a9-19d2-4ce5-819a-2d72a213ae13.png)

Mobile

[2022-06-12 16:04] L03TJ3 opened #202 "Bug: Staking contracts/active stakes are not always loaded"
**Bug Description**
A little bit hard to replicate consistently. But it seems that sometimes on slower connections it fails to load the contract data from 1 of the chains (mainnet / fuse).
It seems it happens more often after switching between portfolio/staking pages. It is either not showing one of the staking contracts (Staking page).
Or it is not showing an active stake (Portfolio).

**Steps to

[2022-06-15 14:18] artqadev commented on #98
Prod checked

[2022-06-15 14:19] artqadev commented on #127
Prod checked

[2022-06-15 14:25] artqadev commented on #188
Prod checked

[2022-06-15 14:29] artqadev commented on #157
Prod checked

[2022-06-15 14:41] artqadev commented on #112
Prod checked

[2022-06-16 05:04] #168 closed

[2022-06-16 05:05] #187 closed

[2022-06-16 05:05] #157 closed

[2022-06-16 05:06] #188 closed

[2022-06-16 05:06] #126 closed

[2022-06-16 05:06] #127 closed

[2022-06-16 05:06] #98 closed

[2022-06-16 05:07] #83 closed

[2022-06-16 05:07] #112 closed

[2022-06-17 14:37] ghost opened #206 "Project: set up husky"
Description:
Set up project to run lint-staged before commiting the code.

Tech description:
Make sure that you registered lint-staged script onto pre-commit hook. And it runs every time when you try to commit your changes.

[2022-06-17 15:36] imanov-elchin commented on #206
@L03TJ3 I also propose to add conventions to our commit messages. I have notes from past experience. So,

We can use this template
<type>(<scope>):<message>

**Type** - required.

Valid types:

- feat (feature)
- fix (bugfix)
- docs (documentaion)
- style (style guide)
- refactor (refactor)
- test (adding tests)
- chore (general(common) - changes in package.json, .npmrc etc)

**Scope** - required.

[2022-06-20 01:14] L03TJ3 commented on #206
@imanov-elchin approved!

[2022-06-20 06:05] #146 closed

[2022-06-20 17:10] #183 closed

[2022-06-22 21:11] L03TJ3 opened #208 "General hotfixes"
List of current minor bugs found

- [x] 1. Navbar not showing on dashboard
- [x] 2. The airdrop button is still disabled
- [x] 3. It is never checked if a user has already claimed for the day

**Additional Context**
For the already claimed check, there now is a tooltip when hovering which shows the time left till the next claim.
This time should be in sync with the time shown in the wallet

[2022-07-01 10:38] L03TJ3 opened #210 "Implement savings feature"
**Details**
We want to implement the savings feature.

**Tasks**

General
- [x] add web3provider context

Savings Page
- [ ] UI

Deposit/Withdraw/Claim Modal
- [ ] UI
- [x] Stake
- [x] Withdraw
- [x] Claim Rewards
- [x] Update modal on txReceipt Status

Savings (stakers) Info
- [x] Add a SavingsAccount component
- [x] Display active saving stats
- [ ] UI

**Additional context**
https://discourse.g

[2022-07-04 05:49] sirpy commented on #145
@DmitryIlchenko
https://developers.cloudflare.com/workers/learning/logging-workers/#view-logs-using-wrangler-tail

[2022-07-04 15:12] tosfan4ever commented on #201
Here are the most updated version for the Web/Desktop medium:

![Staking Mainnet](https://user-images.githubusercontent.com/12403634/177181588-7e36f6e5-7dff-4cd8-95d8-5029bc984989.png)
![Staking Fuse](https://user-images.githubusercontent.com/12403634/177181593-9aeae4ac-44b5-44e2-a7be-6de87a9c3628.png)

[2022-07-04 15:16] tosfan4ever commented on #201
Here are the most updated version for the Mobile medium:
![Staking - GoodDAO](https://user-images.githubusercontent.com/12403634/177182391-f784c9a2-967e-41fc-b446-1fe5c69e96d3.png)
![Staking - GoodStakes](https://user-images.githubusercontent.com/12403634/177182393-bd2f5b88-11ba-4da6-a0d6-2f514f54983e.png)

[2022-07-05 08:47] L03TJ3 commented on #201
What is that bitcoin icon for desktop?

[2022-07-20 13:17] sirpy opened #216 "(Bug) User should be able to disconnect his wallet"
On sushiswap/otherwebsite there's a "disconnect" button next to the change
without the disconnect button I can't switch for example to another wallet connect account because it keeps reconnecting to the same wallet.

![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/aedcf525-d001-4023-9dfa-6812d4a2b69f)

[2022-07-21 05:03] L03TJ3 opened #219 "Feature: Add support for the ZenGo wallet"
**Description**
The idea is to have ZenGo as an option on the wallet-selection screen of Onboard. Would also be nice if the in-app wallet of ZenGo functions when navigating to goodswap

**Tasks**
- [x] Create module based on wallet-connect
- [x] Test on Desktop and mobile(android)
- [ ] Add ZenGo to the preferred list on mobile (IOS) / perhaps desktop?
- [ ] Test on mobile(IOS)
- [ ] Properly supp

[2022-08-03 09:54] L03TJ3 opened #224 "Feature: Enable coinbase"
**Description**
Coinbase wallet should be enabled as a wallet-select option

[2022-08-03 10:04] #81 closed

[2022-08-03 10:04] #208 closed

[2022-08-03 10:04] #216 closed

[2022-08-03 10:04] #173 closed

[2022-08-03 10:04] #219 closed

[2022-08-09 12:30] drptiago commented on #183
### To summarize the events implemented

**Stake**
1 - stakeStart {network, protocol, amount}
2 - stakeApprove {network, protocol, amount}
3 - stakeDeposit {network, protocol, amount}
Done - awesomeStake {network, protocol, amount}

1 - withdrawStart {network, protocol, amount}
2 - withdrawAprove {network, protocol, amount}
Done - withdrawSuccess {network, protocol, amount}

**Swap**
1 - approveSw

[2022-08-12 04:56] #224 closed

[2022-08-22 06:25] L03TJ3 opened #227 "Change handling of unsupported network"
**Bug Description**
Currently, an alternative modal is shown when a user clicks on account details when connected to an unsupported network.
The regular modal should be shown instead. This doesn't work out-of-the-box cause of fetching account information like transactions list.

**Steps to Reproduce**
1. Go to goodswap
2. connect a wallet
3. switch to any unsupported network
4. click on the red un

[2022-09-05 08:24] #76 closed

[2022-09-05 08:24] #40 closed

[2022-09-05 09:21] L03TJ3 opened #229 "Find alternative way to propose to install MetaMask when it's not yet installed"
When MetaMask is not installed onboard does not give any indication it is supported
I think it should be added as a proposed 'install metamask' button somehow

[2022-09-05 09:24] #163 closed

[2022-09-19 05:33] #181 closed

[2022-09-19 06:29] sirpy opened #230 "User should be able to perform FaceVerification"
Create a component that takes the user through the face verification flow

** see https://github.com/gitcoinco/passport/pull/277 for example implementation **

- [x] component should get as input a callback function and a redirect url (defaults to current url)
- [x] when triggered show a modal explaining why user needs to do FV
    - [x] get text from Pat
    - [x] button to start FV flow
- [x] on

[2022-09-19 07:08] sirpy opened #231 "User should go through a claim flow"
See invision for screens

- [ ] add claim also to the side menu.
   - pressing on the claim button or claim in side menu leads to the claim screen

### Claim screen
- [ ] For each blockchain show claim button (use the generic Web3 Button)
   - while reading claim stats show spinner instead of button
   - claim button should say `Claim <Amount> G$ on <BlockchainName>`
   - if user already claimed b

[2022-09-19 07:18] sirpy opened #232 "Component library should have a generic Web3 action button"
The button should ask user to
1. connect wallet if not connect
2. switch to chain X if not on it

Create a button that accepts as input (besides the regular button inputs)
- [x] required chain
- [x] callback to connect wallet
- [x] callback to switch chain
- [x] onPress action

## The button logic once Pressed
- [x] useEthers() to detect current web3/account
- [x] if no wallet connected trigger th

[2022-09-19 07:42] sirpy opened #233 "Nativebase should have a G$ theme"
https://docs.nativebase.io/

- [x] define basic fonts
- [x] define basic headers and text sizes
- [x] define basic colors

### Optional
- [x] define basic components look and feel

[2022-09-19 08:04] sirpy opened #234 "FVFlow should wait until user is whitelisted"
on GoodDAPP FVFlow mode:

- [x] before redirecting user back to calling app, wait for 30 seconds or until user is whitelisted
- [x] show a spinner and a message "Please wait until your verification is completed"

[2022-09-19 08:10] sirpy opened #235 "FVFlow should allow user to give up"
on GoodDAPP FVFlow mode:
- [x] if user failed 3 times, show also a button "I give up"
- [x] if user presses it show modal. "What happened?",
- [x] once user selects and option redirect back to app with `verified=false`
    - Camera issues
    - Unable to put my face in the Oval
    - It says I have a twin
    - It keeps asking me to try again
- [x] report using analytics the user issue choice

[2022-09-20 10:41] sirpy opened #236 "User should be able to use Faucet to top his wallet for gas"
Today on the wallet this happens automatically.
When using GoodSwap the user will need to sign the transaction.

Create a hook with the following logic
- [ ] monitor user native token balance
- [ ] if user is whitelisted and `canTop` and if balance < 200K * gasPrice(on fuse 200k * 1e10 on celo 200K * 2e8)
     - if balance >100k*gasPrice show modal `You are almost out of gas...` with a button `Top

[2022-09-21 18:06] sirpy commented on #234
@johnsmith-gooddollar this needs to be tested + add spinner

[2022-09-21 20:03] sirpy opened #237 "GoodServer should support Celo"
- [ ] whitelist users also both on celo and fuse
- [ ] when user performs faceverification his wallet should be topped both on celo and fuse
- [ ] topwallet request should receive also chainId and be able to top also on Celo
- [ ] update to latest `beta` goodprotocol contracts package, to have Celo dev/staging contracts addresses
- [ ] an endpoint to whitelist existing whitelisted wallets on fuse

[2022-09-21 20:07] sirpy opened #238 "User should have his wallet topped in the background"
- [x] in sdk-v2: a hook that triggers on user native balance change
- [x] if user is on fuse/celo and his native balance < 150k * chainGasPrice, then issue request to backend topWallet endpoint with account+chainId
- [x] use new hook on protocol UI

[2022-09-21 20:10] sirpy opened #239 "GoodSwap should have generic analytics sdk"
- [x] similar to gooddapp, send same event to multiple analytics services
- [x] support `GA4` (current analytics on goodswap)
- [x] support `indicative.com analytics`
- [x] replace current events sending with new sdk

[2022-09-22 17:45] johnsmith-gooddollar commented on #234
ok

[2022-09-29 15:02] sirpy opened #241 "Claim should be triggered automatically when user is first whitelisted"
- [x] Once user finishes FV, when he comes back to the claim screen, the claim TX should be triggered automatically
- [x] A special modal should be shown to user explaining about the first claim and that he needs to sign the tx on his wallet

see:
https://gooddollar.invisionapp.com/freehand/Good-Protocol-UI-V2-Wireframes-88jFb33ex

[2022-09-29 15:04] sirpy commented on #231
@alt-a1r @roma-hladilka Please use the checkboxes in each issue and mark what has been done

[2022-09-29 15:15] sirpy opened #242 "Celo should be the default sidechain"
- [x] add Celo to the available networks at the network selector button
- [ ] Walletconnect should ask for Celo by default (verify our wallet connects to Celo by default when connecting with walletconnect)
- [ ] Claim button (web3action) should request Celo by default
- [x] verify other buttons still ask correctly to switch to mainnet/fuse when connected to Celo
- [x] Optionally: when connected to

[2022-09-29 21:40] L03TJ3 commented on #242
Since the moving to the sdk package the unsupported network broke. (#227)

but it now automatically asks one time to connect to mainnet (as this was set as default)
so the default could just be changed to 42220 for this

An actual fix has not been made yet

[2022-09-30 09:21] sirpy commented on #242
i dont understand how this is related to 227, which is simply about the red button that it should allow the user to disconnect.
this ticket outlines exactly what needs to be done, if you have questions regarding any of the checkboxes please be more specific.

[2022-09-30 09:36] L03TJ3 commented on #242
Your right, the 227 was not necessarily related to my comment as well.
The latter part was about the Optionally point.
current behavior:
when switching to/or loading with a wallet to an unsupported network, the setChain automatically calls for switching to mainnet (as this was set to default)

[2022-10-03 10:42] sirpy commented on #236
dup of #238

[2022-10-03 10:42] #236 closed

[2022-10-03 10:49] sirpy opened #243 "Claim screen look and feel should match wireframes"
- [ ] set basic nativebase theme
- [ ] create components according to wireframes

[2022-10-03 10:51] sirpy commented on #243
@patpedrosa @johnsmith-gooddollar

[2022-10-03 14:58] johnsmith-gooddollar commented on #238
@alt-a1r @roma-hladilka Once https://github.com/GoodDollar/GoodWeb3-Mono/pull/15 will be merged please implement the last one point

[2022-10-06 14:23] johnsmith-gooddollar commented on #234
@alt-a1r need to test it with #230

[2022-10-06 14:24] johnsmith-gooddollar commented on #238
@roma-hladilka you could proceed with this task

[2022-10-11 11:12] sirpy commented on #159
metamask issue

[2022-10-11 11:12] #159 closed

[2022-10-11 11:14] sirpy commented on #169
nothing we can do

[2022-10-11 11:14] #169 closed

[2022-10-20 03:43] L03TJ3 commented on #242
Time-estimate: 2 days

[2022-10-31 15:19] patpedrosa commented on #227
<img width="334" alt="Screen Shot 2022-10-31 at 12 19 21" src="https://user-images.githubusercontent.com/49105975/199043753-1d164dd5-8f9b-47ed-8b46-c64e866bc754.png">

[2022-11-02 12:14] patpedrosa opened #247 "Show account button when connected to unsupported network"
**Bug Description**
When you connect to an unsupported network, the account button disappears.

**Steps to Reproduce**
1. Go to any unsupported network
2. See the account button disappear
...

**Expected Behavior**
Account button should not disappear so that user can switch/disconnect wallets/accounts

**Additional Context**
Bug:
<img width="537" alt="Screen Shot 2022-11-02 at 09 12 05" src="https

[2022-11-02 13:24] johnsmith-gooddollar commented on #235
@sirpy have a question "report using analytics the user issue choice"

1. where it should be done ? on goodprotocolUI side or on the gooddapp ?
2. regarding gooddapp - we do not have analytics initialized during fv flow. need to add it, also could fv app use analytics creds from gd app or we have to create new ones ?
3. also how we can identify user ? using fvsig + firstName + account received fro

[2022-11-02 16:26] sirpy commented on #235
1. gooddapp side
2. yes same creds, just need to add param fvflow:true sent to analytics
3. account is  enough

[2022-11-08 17:09] johnsmith-gooddollar commented on #239
@roma-hladilka

SDK PR: https://github.com/GoodDollar/GoodWeb3-Mono/pull/21
APP PR: https://github.com/GoodDollar/GoodProtocolUI/pull/248

1. fix SDK build, test
2. link new SDK via yalk to the protocol app. install packages missing (i;ve used some extra librs)
3. test app with new SDK. fix issues

[2022-11-08 19:45] johnsmith-gooddollar commented on #239
@roma-hladilka also you need to add npm version calls to release GitHub actions to increase patch on dev/qa and minor on prod release (as it's done on GD app)

[2022-11-13 14:23] sirpy opened #250 "Microbridge should have a basic UI"

[2022-11-13 14:27] sirpy opened #251 "User should be able to use microbridge"
- [ ] integrate the microbridge component from #250 to GoodProtocolUI

[2022-11-13 15:29] sirpy opened #252 "Reference_Microbridge component design for GoodDapp"
- Every bridge transfer requires a Relay - someone to execute the transfer on the other chain.
Relay
   - relayer gets 50% of the bridge fee
   - this will usually happen automatically by us or by others running a relayer
-

### Bridge + History/Relays
![image.png](https://images.zenhubusercontent.com/5d5081131325bafe066d2c4e/361d2634-052d-4d08-a83d-6f7ef9342a08)

### Bridge start
![image.png](htt

[2022-11-13 15:31] sirpy commented on #252
@patpedrosa this is the fully functional UI that will need to be designed

[2022-11-14 06:40] sirpy opened #253 "User should be able to swap on celo"
- [ ] when connected to Celo, on the swap page use ubeswap component https://github.com/Ubeswap/swap-component

[2022-11-14 07:59] L03TJ3 commented on #227
Closing in favor of #247

[2022-11-14 07:59] #227 closed

[2022-11-14 20:02] #170 closed

[2022-11-22 14:28] patpedrosa commented on #233
https://www.figma.com/file/ihw1PxBvLxacTHnN2aj4lC/3.-Product-%F0%9F%92%B5?node-id=2127%3A76968

[2022-11-22 14:38] johnsmith-gooddollar opened #256 "Modals should use global context"
- [ ] each modal should have dedicated shown/hidden state. all states should be kept in the global context
- [ ] to manage dialog you have to call hook. hook should provide show/hide fns and unique modal id
- [ ] unique id should be provided to the dialog we want to manage. this splits 'all-in-hook' implementation

[code]

[2022-11-29 21:41] L03TJ3 opened #260 "Finalize savings UI"
**Description**
The savings feature in functionality is completed.
Only need to finalize some last points on UI before release
- [ ] Balance formatting in modal
- [ ] Move Celo/Fuse contracts on both stake/portfolio in same container, and add network column
- [ ] Confirmation modal screen copy + margin/padding
- [ ] Mobile

**Additional Context**
Only when the Stake/Portfolio pages are provided wi